<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{zlayout/fragmentsAdmin :: html_headAdmin}"></head>
<style>
	.fixed-size-image {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
	}
</style>

<body class="g-sidenav-show bg-gray-100">
	<!-- loader khi vào -->
	<div id="loader-page"
		style="position: fixed; top: 0; left: 0; z-index: 99999; width: 100%; height: 100%; background-color: #fff; display: flex; align-items: center; justify-content: center; background-size: cover; background-repeat: no-repeat; background-position: center;">
		<span> <img src="/assets/images/loading.gif" alt="img/loading">
		</span>
	</div>
	<!-- end -->
	<div class="min-height-300 bg-primary position-absolute w-100"></div>
	<aside class="" th:replace="~{zlayout/navbarAdmin :: menu-admin}"></aside>
	<main class="main-content position-relative border-radius-lg ">
		<!-- Navbar -->
		<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
			data-scroll="false">
			<div class="container-fluid py-1 px-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
						<li class="breadcrumb-item text-sm"><a class="opacity-5 text-white"
								href="javascript:;">Trang</a></li>
						<li class="breadcrumb-item text-sm text-white active" aria-current="page">Quản Lý Phân Quyền
						</li>
					</ol>
					<h6 class="font-weight-bolder text-white mb-0">Quản Lý Phân Quyền</h6>
				</nav>
				<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
					<div class="ms-md-auto pe-md-3 d-flex align-items-center">
						<form>
							<div class="input-group">
								<span class="input-group-text text-body">
									<button class="btn btn-primary input-group-text mb-0 py-1" type="button">
										<i class="fas fa-search cursor-pointer" aria-hidden="true"></i>
									</button>
								</span> <input type="text" class="form-control" name="query" id="searchInput"
									placeholder="Tìm Kiếm...">
							</div>
						</form>
					</div>
					<ul class="navbar-nav justify-content-end">
						<li class="nav-item d-flex align-items-center"><a href="javascript:;"
								class="nav-link text-white font-weight-bold px-0"> <i class="fa fa-user me-sm-1"></i>
								<span class="d-sm-inline d-none fixed-plugin-button-nav">Tài
									Khoản</span>
							</a></li>
						<li class="nav-item d-xl-none ps-3 d-flex align-items-center">
							<a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
								<div class="sidenav-toggler-inner">
									<i class="sidenav-toggler-line bg-white"></i> <i
										class="sidenav-toggler-line bg-white"></i> <i
										class="sidenav-toggler-line bg-white"></i>
								</div>
							</a>
						</li>
						<li class="nav-item px-3 d-flex align-items-center"><a href="javascript:;"
								class="nav-link text-white p-0 font-weight-bold">
								<!-- <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i> -->
							</a></li>
						<li class="nav-item dropdown pe-2 d-flex align-items-center">
							<a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton"
								data-bs-toggle="dropdown" aria-expanded="false"> <i
									class="fa fa-bell cursor-pointer"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
								aria-labelledby="dropdownMenuButton">
								<li class="mb-2"><a class="dropdown-item border-radius-md" href="javascript:;">
										<div class="d-flex py-1">
											<div class="my-auto">
												<img src="/assets/images/food-menu-1.png"
													class="avatar avatar-sm me-3 ">
											</div>
											<div class="d-flex flex-column justify-content-center">
												<h6 class="text-sm font-weight-normal mb-1">
													<span class="font-weight-bold">Thông báo mới</span> Từ
													Yummy
												</h6>
												<p class="text-xs text-secondary mb-0">
													<i class="fa fa-clock me-1"></i> 13 phút trước
												</p>
											</div>
										</div>
									</a></li>
								<li class="mb-2"><a class="dropdown-item border-radius-md" href="javascript:;">
										<div class="d-flex py-1">
											<div class="my-auto">
												<img src="/assets/images/food-menu-2.png"
													class="avatar avatar-sm me-3 ">
											</div>
											<div class="d-flex flex-column justify-content-center">
												<h6 class="text-sm font-weight-normal mb-1">
													<span class="font-weight-bold">Thông báo mới</span> Từ
													Yummy
												</h6>
												<p class="text-xs text-secondary mb-0">
													<i class="fa fa-clock me-1"></i> 1 ngày trước
												</p>
											</div>
										</div>
									</a></li>
								<li><a class="dropdown-item border-radius-md" href="javascript:;">
										<div class="d-flex py-1">
											<div class="my-auto">
												<img src="/assets/images/food-menu-4.png"
													class="avatar avatar-sm me-3 ">
											</div>
											<div class="d-flex flex-column justify-content-center">
												<h6 class="text-sm font-weight-normal mb-1">
													<span class="font-weight-bold">Thông báo mới</span> Từ
													Yummy
												</h6>
												<p class="text-xs text-secondary mb-0">
													<i class="fa fa-clock me-1"></i> 3 ngày trước
												</p>
											</div>
										</div>
									</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->
		<!-- end -->
		<div class="row">
			<div class="col-12">
				<div class="container-fluid py-4">
					<div class="card mb-4">
						<div class="card-header pb-0">
							<h6>Danh Sách Phân Quyền</h6>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0" id="customers">
									<thead>
										<tr>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Tài
												Khoản
											</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Quản Lý
											</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Thành Viên
											</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Khách Hàng
											</th>
										</tr>
									</thead>

									<tbody>
										<tr>
											<td class="align-middle text-sm"><img class="avatar avatar-lg me-3"
													alt="user1">
												<span class="badge badge-sm text-dark text-xs">hihi</span>
											</td>
											<td class="align-middle">
												<input type="checkbox" class="custom-checkbox"
													style="margin-left: 30px; width: 18px; height: 18px; cursor: pointer;">
											</td>
											<td class="align-middle">
												<input type="checkbox" class="custom-checkbox"
													style="margin-left: 38px; width: 18px; height: 18px; cursor: pointer;">
											</td>
											<td class="align-middle ">
												<input type="checkbox" class="custom-checkbox" checked
													style="margin-left: 40px; width: 18px; height: 18px; cursor: pointer;">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end -->
			<footer class="footer p-4">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-lg-between">
						<div class="col-lg-6 mb-lg-0 mb-4">
							<div class="copyright text-center text-sm text-muted text-lg-start">
								©
								<script>
									document.write(new Date().getFullYear())
								</script>
								, Được Thiết Kế Bởi FastFoodTeam
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</main>
	<div class="" th:replace="~{zlayout/navbarAdmin :: menu-admin-right}"></div>
	<!-- Core JS Files -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/bootstrap-icons/bootstrap-icons.json"></script>
	<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
	<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
	<script>
		// loading khi refresh
		var loader = function () {
			setTimeout(function () {
				$('#loader-page').css({
					'opacity': 0,
					'visibility': 'hidden'
				});
			}, 1000);
		};
		$(function () {
			loader();
		});
		// end

		var win = navigator.platform.indexOf('Win') > -1;
		if (win && document.querySelector('#sidenav-scrollbar')) {
			var options = {
				damping: '0.5'
			}
			Scrollbar.init(document.querySelector('#sidenav-scrollbar'),
				options);
		}
		$(document).ready(function () {
			$('.pagination .page-link').on('click', function (e) {
				e.preventDefault();
				var page = $(this).data('page');
				loadProducts(page);
			});

			function loadProducts(page) {
				$.get('/products', { pageNo: page }, function (data) {
					$('#productListContainer').html(data);
				});
			}
		});

	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
	<!-- flowbite tailwind -->
	<script src="https://cdn.jsdelivr.net/npm/flowbite@1.0.0/dist/flowbite.min.js"></script>
	<!-- end -->
</body>

</html>