<!DOCTYPE html>
<html lang="en">

<head th:replace="~{zlayout/fragmentsAdmin :: html_headAdmin}"></head>

<body class="g-sidenav-show bg-gray-100">
  <!-- loader khi vào -->
  <div id="loader-page" style=" 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;">
    <span>
      <img src="/assets/images/loading.gif" alt="img/loading">
    </span>
  </div>
  <!-- and -->

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  <aside class="" th:replace="~{zlayout/navbarAdmin :: menu-admin}"></aside>

  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Trang</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Quản Lý Đơn Hàng</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Quản Lý Đơn Hàng</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Tìm Kiếm...">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="../pages/profile.html" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Tài Khoản</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/images/food-menu-1.png" class="avatar avatar-sm  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Thông báo mới</span> Từ Yummy
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 phút trước
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/images/food-menu-2.png" class="avatar avatar-sm me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Thông báo mới</span> Từ Yummy
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 ngày trước
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/images/food-menu-4.png" class="avatar avatar-sm me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Thông báo mới</span> Từ Yummy
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          3 ngày trước
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-7 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Thông Tin Đặt Hàng</h6>
            </div>
            <form method="post">
              <div class="card-body pt-4 p-3">
                <div th:each="item : ${orders}">
                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                      <div class="d-flex flex-column">
                        <span class="mb-2 text-xs">Mã Đơn: <span class="text-dark font-weight-bold ms-sm-2"
                            th:text="${item.orderID}"></span>
                        </span>
                        <h6 class="mb-3 text-sm" th:text="${item.Account.Fullname}"></h6>
                        <span class="mb-2 text-xs">Địa Chỉ: <span class="text-dark font-weight-bold ms-sm-2"
                            th:text="${item.deliveryAddress}"></span>
                        </span>
                        <span class="mb-2 text-xs">Email:
                          <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.Account.UserName}">
                          </span>
                        </span>
                        <span class="text-xs mb-2">Phone:
                          <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.phone}"></span>
                        </span>
                        <span class="text-xs mb-2">Tình Trạng:
                          <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.Status.Name}"></span>
                        </span>
                        <span class="text-xs mb-2">Số Lượng Đơn:
                          <span class="text-dark ms-sm-2 font-weight-bold"
                            th:text="'x' + ${item.orderitem.size()}"></span>
                        </span>
                        <span class="text-xs mb-2">Tổng Thanh Toán:
                          <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.totalAmount}"></span>
                        </span>
                        <span class="text-xs pt-2">Phương Thức Thanh Toán:
                          <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.paymentMethod}"> </span>
                        </span>
                        <br>
                        <span class="d-inline-flex gap-1 justify-content-between"
                          th:each="orderitem : ${item.orderitem.get(0)}">
                          <h6 class="mb-3 text-sm">Đơn Hàng</h6>
                          <button class="btn py-2" type="button" data-bs-toggle="collapse"
                            th:data-bs-target="'#collapseExample' + ${orderitem.Orders.orderID}" aria-expanded="false"
                            aria-controls="collapseExample">
                            <i class="bi bi-caret-down" style="font-size: 17px;"></i>
                          </button>
                        </span>
                        <div class="collapse" th:each="orderitem : ${item.orderitem}"
                          th:id="'collapseExample' + ${orderitem.Orders.orderID}">
                          <div class="card-body d-flex flex-column">
                            <h6 class="mb-3 text-sm" th:text="${orderitem.Name}"></h6>
                            <span class="text-xs mb-2">Giá:
                              <span class="text-dark ms-sm-2 font-weight-bold"
                                th:text="${#numbers.formatDecimal(orderitem.Price , 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                            </span>
                            <span class="text-xs mb-2">Số Lượng:
                              <span class="text-dark ms-sm-2 font-weight-bold" th:text="${orderitem.Quantity}"></span>
                            </span>
                            <span class="text-xs mb-2">Size:
                              <span class="text-dark ms-sm-2 font-weight-bold"
                                th:text="${orderitem.Size_Product}"></span>
                            </span>
                            </span>
                            <span class="text-xs pt-2">Thời Gian Đặt Hàng:
                              <span class="text-xs" th:text="${orderitem.Orders.orderTime}"></span>
                            </span>
                          </div>
                          <div class="ms-auto text-end">
                          </div>
                        </div>
                      </div>
                      <div class="ms-auto text-end">
                        <button class="btn btn-link text-danger text-gradient px-3 mb-0" data-bs-toggle="modal"
                          th:data-bs-target="'#exampleModalTuChoi' + ${item.orderID}" type="button"
                          th:if="${item.Status.statusID == 1}"><i class="bi bi-x-lg"></i> Từ
                          Chối
                        </button>
                        <button class="btn btn-link text-dark px-3 mb-0"
                          th:formaction="@{|/admin/managerOrderSuccess/${item.orderID}|}"
                          th:if="${item.Status.statusID == 1}"><i class=" bi bi-check-lg"></i>
                          Xác
                          Nhận
                        </button>
                        <button class="btn btn-link text-dark px-3 mb-0"
                          th:formaction="@{|/admin/managerOrderDelivering/${item.orderID}|}"
                          th:if="${item.Status.statusID == 2}"><i class=" bi bi-check-lg"></i>
                          Xác
                          Nhận Đang Giao Hàng
                        </button>
                        <button class="btn btn-link text-dark px-3 mb-0"
                          th:formaction="@{|/admin/managerOrderDelivered/${item.orderID}|}"
                          th:if="${item.Status.statusID == 3}"><i class="bi bi-check-lg"></i>
                          Xác
                          Nhận Đã Giao Hàng
                        </button>
                      </div>

                      <!-- Modal xác nhận từ chối đơn hàng-->
                      <div class="modal fade" th:id="'exampleModalTuChoi' + ${item.orderID}" tabindex="-3"
                        th:aria-labelledby="'exampleModalLabelTuChoi' + ${item.orderID}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" th:id="'exampleModalLabelTuChoi' + ${item.orderID}">Từ Chối
                                Đơn Hàng</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Bạn có chắc muốn từ chối đơn hàng không?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                              <button type="submit" class="btn btn-primary"
                                th:formaction="@{|/admin/managerOrderCancel/${item.orderID}|}">Xác Nhận</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end -->
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 mt-4">
          <div class="card h-100 mb-4">
            <div class="card-header pb-0 px-3">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="mb-0">Thông Tin Đơn Hàng</h6>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                  <i class="far fa-calendar-alt me-2"></i>
                  <small>
                    <script>
                      document.write(new Date().getDate(), ' Tháng ')
                      document.write(new Date().getMonth(), ' Năm ')
                      document.write(new Date().getFullYear())
                    </script>
                  </small>
                </div>
              </div>
            </div>
            <div class="card-body pt-4 p-3">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Đã hủy
                  </a>
                  <a class="nav-link" id="nav-profile-tab-chua" data-bs-toggle="tab" href="#nav-chua-xac-nhan"
                    role="tab" aria-controls="nav-chua-xac-nhan" aria-selected="false">Đã Nhận
                  </a>
                </div>
              </nav>

              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <!-- Hiển thị danh sách các đơn hàng đã hủy -->
                  <th:block th:each="item : ${orders}" th:if="${item.Status.statusID == 6}">
                    <div class="d-flex flex-column mt-3">
                      <span class="mb-2 text-xs">Mã Đơn: <span class="text-dark font-weight-bold ms-sm-2"
                          th:text="${item.orderID}"></span>
                      </span>
                      <h6 class="mb-3 text-sm" th:text="${item.Account.Fullname}"></h6>
                      <span class="mb-2 text-xs">Địa Chỉ: <span class="text-dark font-weight-bold ms-sm-2"
                          th:text="${item.deliveryAddress}"></span>
                      </span>
                      <span class="mb-2 text-xs">Email:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.Account.UserName}">
                        </span>
                      </span>
                      <span class="text-xs mb-2">Phone:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.phone}"></span>
                      </span>
                      <span class="text-xs mb-2">Tình Trạng:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.Status.Name}"></span>
                      </span>
                      <span class="text-xs mb-2">Số Lượng Đơn:
                        <span class="text-dark ms-sm-2 font-weight-bold"
                          th:text="'x' + ${item.orderitem.size()}"></span>
                      </span>
                      <span class="text-xs mb-2">Tổng Thanh Toán:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.totalAmount}"></span>
                      </span>
                      <span class="text-xs pt-2">Phương Thức Thanh Toán:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.paymentMethod}"> </span>
                      </span>
                      <br>
                      <span class="d-inline-flex gap-1 justify-content-between"
                        th:each="orderitem : ${item.orderitem.get(0)}">
                        <h6 class="mb-3 text-sm">Đơn Hàng</h6>
                        <button class="btn py-2" type="button" data-bs-toggle="collapse"
                          th:data-bs-target="'#collapseExample' + ${orderitem.Orders.orderID}" aria-expanded="false"
                          aria-controls="collapseExample">
                          <i class="bi bi-caret-down" style="font-size: 17px;"></i>
                        </button>
                      </span>
                      <div class="collapse" th:each="orderitem : ${item.orderitem}"
                        th:id="'collapseExample' + ${orderitem.Orders.orderID}">
                        <div class="card-body d-flex flex-column">
                          <h6 class="mb-3 text-sm" th:text="${orderitem.Name}"></h6>
                          <span class="text-xs mb-2">Giá:
                            <span class="text-dark ms-sm-2 font-weight-bold"
                              th:text="${#numbers.formatDecimal(orderitem.Price , 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                          </span>
                          <span class="text-xs mb-2">Số Lượng:
                            <span class="text-dark ms-sm-2 font-weight-bold" th:text="${orderitem.Quantity}"></span>
                          </span>
                          <span class="text-xs mb-2">Size:
                            <span class="text-dark ms-sm-2 font-weight-bold" th:text="${orderitem.Size_Product}"></span>
                          </span>
                          </span>
                          <span class="text-xs pt-2">Thời Gian Đặt Hàng:
                            <span class="text-xs" th:text="${orderitem.Orders.orderTime}"></span>
                          </span>
                        </div>
                        <div class="ms-auto text-end">
                        </div>
                      </div>
                    </div>
                  </th:block>
                </div>
                <div class="tab-pane fade" id="nav-chua-xac-nhan" role="tabpanel"
                  aria-labelledby="nav-profile-tab-chua">
                  <!-- Hiển thị danh sách các đơn hàng chưa xác nhận -->
                  <th:block th:each="item : ${orders}" th:if="${item.Status.statusID == 5}">
                    <div class="d-flex flex-column mt-3">
                      <h6 class="mb-3 text-sm" th:text="${item.Account.Fullname}"></h6>
                      <span class="mb-2 text-xs">Địa Chỉ: <span class="text-dark font-weight-bold ms-sm-2"
                          th:text="${item.deliveryAddress}"></span>
                      </span>
                      <span class="mb-2 text-xs">Email:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.Account.UserName}">
                        </span>
                      </span>
                      <span class="text-xs mb-2">Phone:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.phone}"></span>
                      </span>
                      <span class="text-xs mb-2">Tình Trạng:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.Status.Name}"></span>
                      </span>
                      <span class="text-xs mb-2">Số Lượng Đơn:
                        <span class="text-dark ms-sm-2 font-weight-bold"
                          th:text="'x' + ${item.orderitem.size()}"></span>
                      </span>
                      <span class="text-xs mb-2">Tổng Thanh Toán:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.totalAmount}"></span>
                      </span>
                      <span class="text-xs pt-2">Phương Thức Thanh Toán:
                        <span class="text-dark ms-sm-2 font-weight-bold" th:text="${item.paymentMethod}"> </span>
                      </span>
                      <br>
                      <span class="d-inline-flex gap-1 justify-content-between"
                        th:each="orderitem : ${item.orderitem.get(0)}">
                        <h6 class="mb-3 text-sm">Đơn Hàng</h6>
                        <button class="btn py-2" type="button" data-bs-toggle="collapse"
                          th:data-bs-target="'#collapseExample' + ${orderitem.Orders.orderID}" aria-expanded="false"
                          aria-controls="collapseExample">
                          <i class="bi bi-caret-down" style="font-size: 17px;"></i>
                        </button>
                      </span>
                      <div class="collapse" th:each="orderitem : ${item.orderitem}"
                        th:id="'collapseExample' + ${orderitem.Orders.orderID}">
                        <div class="card-body d-flex flex-column">
                          <h6 class="mb-3 text-sm" th:text="${orderitem.Name}"></h6>
                          <span class="text-xs mb-2">Giá:
                            <span class="text-dark ms-sm-2 font-weight-bold"
                              th:text="${#numbers.formatDecimal(orderitem.Price , 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                          </span>
                          <span class="text-xs mb-2">Số Lượng:
                            <span class="text-dark ms-sm-2 font-weight-bold" th:text="${orderitem.Quantity}"></span>
                          </span>
                          <span class="text-xs mb-2">Size:
                            <span class="text-dark ms-sm-2 font-weight-bold" th:text="${orderitem.Size_Product}"></span>
                          </span>
                          </span>
                          <span class="text-xs pt-2">Thời Gian Đặt Hàng:
                            <span class="text-xs" th:text="${orderitem.Orders.orderTime}"></span>
                          </span>
                        </div>
                        <div class="ms-auto text-end">
                        </div>
                      </div>
                    </div>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer p-4">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>,
                Được Thiết Kế Bởi FastFoodTeam
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>

  <div class="" th:replace="~{zlayout/navbarAdmin :: menu-admin-right}"></div>

  <!--   Core JS Files   -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>

    // loading khi refresh
    var loader = function () {
      setTimeout(function () {
        $('#loader-page').css({ 'opacity': 0, 'visibility': 'hidden' });
      }, 1000);
    };
    $(function () {
      loader();
    });
    // end

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>