<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{zlayout/fragmentsAdmin :: html_headAdmin}"></head>

<body class="g-sidenav-show bg-gray-100">

  <!-- loader khi vào -->
  <div id="loader-page" style="
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100%;
   height: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;">
    <span>
      <img src="/assets/images/loading.gif" alt="img/loading">
    </span>
  </div>
  <!-- end -->

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  <aside class="" th:replace="~{zlayout/navbarAdmin :: menu-admin}"></aside>

  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Trang</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Quản Lý Sản Phẩm</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Quản Lý Sản Phẩm</h6>
        </nav>

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <!-- tìm kiếm -->
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <form>
              <div class="input-group">
                <span class="input-group-text text-body">
                  <button class="btn btn-primary input-group-text mb-0 py-1" type="submit">
                    <i class="fas fa-search cursor-pointer" aria-hidden="true"></i>
                  </button>
                </span>
                <input type="text" class="form-control" name="query" th:value="${query}" id="searchInput"
                  placeholder="Tìm Kiếm...">
              </div>
            </form>
          </div>
          <!-- end -->
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none fixed-plugin-button-nav">Tài Khoản</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0 font-weight-bold">
                <!-- <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i> -->
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="/assets/images/food-menu-1.png" class="avatar avatar-sm  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Thông báo mới</span> Từ Yummy
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 phút trước
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="/assets/images/food-menu-2.png" class="avatar avatar-sm me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Thông báo mới</span> Từ Yummy
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 ngày trước
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="/assets/images/food-menu-4.png" class="avatar avatar-sm me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Thông báo mới</span> Từ Yummy
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          3 ngày trước
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- th:if="${adminproduct}" -->
    <div class="row ">
      <div class="col-12">
        <div class="container-fluid py-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Chỉnh Sửa Sản Phẩm </p>
              </div>
            </div>
            <form method="post" th:object="${newProduct}" enctype="multipart/form-data" onsubmit="return validateForm()"
              id="productForm">
              <div class="card-body">
                <p class="text-uppercase text-sm">Thông Tin Sản Phẩm</p>
                <div class="row">
                  <input type="hidden" th:field="*{productId}" />
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Tên Sản phẩm</label>
                      <input class="form-control" type="text" id="newProduct_name" placeholder="Name" th:field="*{name}"
                        th:value="${newProduct.name}">
                      <small class="text-danger" id="name-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Giá Cũ</label>
                      <input class="form-control" type="text" id="newProduct_prices" value="" placeholder="Old Price"
                        th:field="*{prices}" th:value="${newProduct.prices}">
                      <small class="text-danger" id="prices-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Giá Mới</label>
                      <input class="form-control" type="text" id="newProduct_price" value="" placeholder="New Price"
                        th:field="*{price}" th:value="${newProduct.price}">
                      <small class="text-danger" id="price-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Số Lượng</label>
                      <input class="form-control" id="newProduct_quantity" type="text" value="" placeholder="Quantity"
                        th:field="*{quantity}" th:value="${newProduct.quantity}">
                    </div>
                    <small class="text-danger" id="quantity-error"></small>
                    <div id="form-error" class="text-danger mt-2 border-danger"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Mô Tả Ẩn</label>
                      <textarea class="form-control" name="descriptionAn" id="descriptionAn" cols="30" rows="1"
                        placeholder="Nhập vào mô tả sản phẩm" text="" th:field="*{description_an}">
                      </textarea>
                      <small class="text-danger" id="descriptionAn-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Mô Tả</label>
                      <textarea class="form-control" name="description" id="description" cols="30" rows="1"
                        placeholder="Nhập vào mô tả sản phẩm" text="" th:field="*{description}">
                      </textarea>
                      <small class="text-danger" id="description-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                    </div>
                  </div>
                  <div class="col-md-6 custom-select">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Thể Loại</label>
                      <select class="form-control mb-2" id="example-text-input" name="category">
                        <option value="" disabled selected>Chọn thể loại </option>
                        <span th:each="category : ${admincategory}">
                          <option th:value="${category.categoryId}" class="" th:text="${category.name}"
                            th:field="*{categoryId}">
                          </option>
                        </span>
                      </select>
                      <small class="text-danger" id="category-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Trang Thái</label>
                      <div class="d-flex justify-content-start align-items-center gap-3 mt-2">
                        <label for="trueStatus" class="cursor-pointer" style="font-size: 13px;">
                          <input class="" id="trueStatus" name="option" type="radio" value="True" checked
                            placeholder="">&nbsp;
                          True
                        </label>
                        <label for="falseStatus" class="cursor-pointer" style="font-size: 13px;">
                          <input class="" id="falseStatus" name="option" type="radio" value="false"
                            placeholder="">&nbsp; False
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-11 mt-3 d-flex justify-content-center">
                    <div class="form-group ">
                      <label for="example-text-input" class="form-control-label px-6 position-absolute">Hình Ảnh
                        Đại Diện Sản Phẩm</label>
                      <span>
                        <img id="preview-image" class="max-width-300 max-height-300 pt-4" th:src="*{image}" alt=""
                          style="padding-left: 15px;">
                      </span>
                      <!-- multiple giúp chọn nhiều ảnh cùng lúc -->
                      <input type="hidden" name="filess" th:value="${newProduct.image}">
                      <input class="form-control filepond" id="uploadimage" name="uploadimage" type="file"
                        onchange="previewImage(event)" placeholder="Ảnh" th:value="${newProduct.image}">

                      <small class="text-danger" id="image-error"></small>
                      <div id="form-error" class="text-danger mt-2 border-danger"></div>
                      <!-- end -->
                    </div>
                  </div>
                </div>
                <hr class="horizontal dark">
                <hr class="py-2">
                <div class="d-flex align-items-center justify-content-center" style="display: flex; flex-wrap: wrap;">

                  <button class="btn btn-primary btn-sm ms-4" type="submit" formaction="/admin/managerProducts/add"
                    th:disabled="${#httpServletRequest != null and #strings.contains(#httpServletRequest.getRequestURI(), '/admin/managerProducts/edit')}">
                    Thêm
                  </button>

                  <button class="btn btn-info btn-sm ms-4" type="submit"
                    th:formaction="@{|/admin/managerProducts/update/${productIdd}|}"
                    th:disabled="${#httpServletRequest != null and not #strings.contains(#httpServletRequest.getRequestURI(), '/admin/managerProducts/edit')}">
                    Sửa
                  </button>

                  <button class="btn btn-danger btn-sm ms-4" type="button" data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal"
                    th:disabled="${#httpServletRequest != null and not #strings.contains(#httpServletRequest.getRequestURI(), '/admin/managerProducts/edit')}">
                    Xóa
                  </button>

                  <a th:href="@{/admin/managerProducts}"
                    th:if="${#httpServletRequest != null and #strings.contains(#httpServletRequest.getRequestURI(), '/admin/managerProducts')}"
                    th:unless="${#httpServletRequest != null and #strings.contains(#httpServletRequest.getRequestURI(), '/admin/managerProducts/edit')}">
                    <button class="btn btn-dark btn-sm ms-4" type="button">Làm Mới</button>
                  </a>
                  <a th:href="@{|/admin/managerProducts/edit/${productIdd}|}"
                    th:if="${#httpServletRequest != null and #strings.contains(#httpServletRequest.getRequestURI(), '/admin/managerProducts/edit')}">
                    <button class="btn btn-dark btn-sm ms-4" type="button">Làm Mới</button>
                  </a>
                </div>
                <!-- Modal hỏi xóa sản phẩm-->
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
                  aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Bạn có chắc chắn muốn xóa sản phẩm này không?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger"
                          th:formaction="@{|/admin/managerProducts/delete/${productIdd}|}"
                          id="confirmDeleteButton">Xóa</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end -->

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    <div class="row">
      <div class="col-12">
        <div class="container-fluid py-4">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Danh Sách Sản Phẩm</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="customers">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sản phẩm
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thể loại
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày
                        Tạo
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Số
                        Lượng
                      </th>
                      <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Thao
                        Tác</th>
                    </tr>
                  </thead>
                  <tbody class="product-row" id="accountTableBody">
                    <tr th:each="item : ${productPage.ListProduct}">
                      <td>
                        <div class="d-flex px-3 py-1">
                          <div>
                            <img th:src="${item.image}" class="avatar avatar-lg me-3" alt="user1">
                            <span class="badge badge-sm text-dark text-xs name" th:text="${item.name}"></span>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm"></h6>
                            <!-- <p class="text-xs text-secondary mb-0">Admin</p> -->
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold mb-0 category" th:text="${item.category.name}"></span>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold mb-0 price" th:text="${item.price}"></span>
                        <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold mb-0 create_at" th:text="${item.create_at}"></span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold quantity"
                          th:text="${item.quantity}"></span>
                      </td>
                      <td class="align-middle text-center">
                        <a th:href="@{/admin/managerProducts/edit/{productId}(productId=${item.productId})}"
                          class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                          data-original-title="Edit user">Edit
                        </a>
                      </td>
                    </tr>
                    <!-- phân trang đầu-->
                    <nav aria-label="Page navigation example"
                      class="navigation mt-3 mb-3 d-flex justify-content-center">
                      <ul class="pagination">
                        <li class="page-item cursor-pointer" th:if="${productPage.currentPage > 1}">
                          <a class="page-link" href="#" aria-label="Previous"
                            th:onclick="'javascript:loadPage(1, event)'">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(1, productPage.totalPages)}"
                          class="page-item cursor-pointer">
                          <a class="page-link text-black" th:classappend="${page == productPage.currentPage} ? active"
                            th:onclick="'javascript:loadPage(' + ${page} + ', event)'" th:text="${page}"></a>
                        </li>
                        <li class="page-item cursor-pointer"
                          th:if="${productPage.currentPage < productPage.totalPages}">
                          <a class="page-link" href=""
                            th:onclick="'javascript:loadPage(' + ${productPage.totalPages} + ', event)'"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- end -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <footer class="footer p-4">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                <script>
                  document.write(new Date().getFullYear())
                </script>,
                Fast Food Store
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>

  <div class="" th:replace="~{zlayout/navbarAdmin :: menu-admin-right}"></div>

  <!--   Core JS Files   -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/bootstrap-icons/bootstrap-icons.json"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>

  <script>

    // loading khi refresh
    var loader = function () {
      setTimeout(function () {
        $('#loader-page').css({ 'opacity': 0, 'visibility': 'hidden' });
      }, 1000);
    };
    $(function () {
      loader();
    });
    // end

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    // chọn ảnh đại diện sản phẩm
    function previewImage(event) {
      var input = event.target;
      var reader = new FileReader();
      reader.onload = function () {
        var dataURL = reader.result;
        var imgElement = document.getElementById('preview-image');
        imgElement.src = dataURL;
      };
      reader.readAsDataURL(input.files[0]);
    }
    // end

    // phân trang
    $(document).ready(function () {
      $('.pagination .page-link').on('click', function (e) {
        e.preventDefault();
        var page = $(this).data('page');
        loadProducts(page);
      });

      function loadProducts(page) {
        $.get('/products', { pageNo: page }, function (data) {
          $('#productListContainer').html(data);
        });
      }
    });
    // end

    // 
  </script>

  <script th:inline="javascript">
    function loadPage(page, event) {
      if (event) {
        event.preventDefault();
      }
      $.ajax({
        url: '/admin/managerProducts',
        data: {
          page: page
        },
        success: function (response) {
          // Cập nhật nội dung danh sách tài khoản
          var table = $(response).find("#customers").html();
          $("#customers").html(table);
          var pagination = $(response).find(".pagination").html();
          $(".pagination").html(pagination);
        },
        error: function (xhr, status, error) {
          console.log("Error: " + error);
        }
      });
    }

    // validate form sản phẩm
    function validateForm() {
      var form = document.getElementById('productForm');
      var name = document.getElementById('newProduct_name');
      var price = document.getElementById('newProduct_price');
      var prices = document.getElementById('newProduct_prices');
      var description = document.getElementById('description');
      var descriptionAn = document.getElementById('descriptionAn');
      var quantity = document.getElementById('newProduct_quantity');
      var category = document.getElementById('example-text-input');
      var image = document.getElementById('uploadimage');
      var formError = document.getElementById('form-error');

      if (!name.value) {
        name.style.borderColor = '#ff0000';
        document.getElementById('name-error').innerText = 'Không được để trống tên sản phẩm';

        return false;
      } else {
        document.getElementById('name-error').innerText = '';
        name.style.borderColor = '';
      }

      if (!isValidNumber(prices.value) || prices.value.length < 4) {
        prices.style.borderColor = '#ff0000';
        document.getElementById('prices-error').innerText = 'Giá phải nhập số và ít nhất 4 chữ số';
        return false;
      } else {
        document.getElementById('prices-error').innerText = '';
        prices.style.borderColor = '';
      }

      if (!isValidNumber(price.value) || price.value.length < 4) {
        price.style.borderColor = '#ff0000';
        document.getElementById('price-error').innerText = 'Giá phải nhập số và ít nhất 4 chữ số';
        return false;
      } else {
        document.getElementById('price-error').innerText = '';
        price.style.borderColor = '';
      }

      if (!isValidNumberr(quantity.value)) {
        quantity.style.borderColor = '#ff0000';
        document.getElementById('quantity-error').innerText = 'Số lượng phải nhập số và ít nhất 2 chữ số';
        return false;
      } else {
        document.getElementById('quantity-error').innerText = '';
        quantity.style.borderColor = '';
      }

      if (!descriptionAn.value) {
        descriptionAn.style.borderColor = '#ff0000';
        document.getElementById('descriptionAn-error').innerText = 'Không được để trống mô tả';
        return false;
      } else {
        document.getElementById('descriptionAn-error').innerText = '';
        descriptionAn.style.borderColor = '';
      }

      if (!description.value) {
        description.style.borderColor = '#ff0000';
        document.getElementById('description-error').innerText = 'Không được để trống mô tả';
        return false;
      } else {
        document.getElementById('description-error').innerText = '';
        description.style.borderColor = '';
      }

      if (category.value === '') {
        category.style.borderColor = '#ff0000';
        document.getElementById('category-error').innerText = 'Vui lòng chọn thể loại';
        return false;
      } else {
        document.getElementById('category-error').innerText = '';
        category.style.borderColor = '';
      }

      // if (image.files.length === 0) {
      //   image.style.borderColor = '#ff0000';
      //   document.getElementById('image-error').innerText = 'Vui lòng chọn ảnh';
      //   return false;
      // } else {
      //   document.getElementById('image-error').innerText = '';
      //   image.style.borderColor = '';
      // }

      return true;
    }

    function isValidNumberr(value) {
      return /^[0-9]+$/.test(value) && value.length >= 2;
    }

    function isValidNumber(value) {
      return /^[0-9]+$/.test(value) && value.length >= 4;
    }
    // end
  </script>


  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
  <!-- flowbite tailwind -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@1.0.0/dist/flowbite.min.js"></script>
  <!-- end -->

  <!-- filepond giúp chọn được nhiều ảnh 1 lần -->
  <script src="https://unpkg.com/filepond@4.25.1/dist/filepond.js"></script>
  <!-- end -->
</body>

</html>