<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="zlayout/fragments :: html_head"></head>

<body>
    <div class="footer" th:fragment="footer">
        <!-- Footer -->
        <footer class="footer">
            <div class="col-10" style="margin-left: 7.5%;">
                <hr>
            </div>
            <br><br>
            <div class="container">

                <div class="row d-flex justify-content-center p-4">
                    <div class="col-md-auto">
                        <img src="/assets/images/yum-logo.png" alt="" class=""
                            style="max-width: 200px; max-height: 200px; padding-bottom: 30px;">
                    </div>
                    <div class="col-md">
                        <h4 style="padding-bottom: 8px;">Thông tin cửa hàng</h4>
                        <p style="line-height: 32px;">Địa chỉ: Đường số 22, phường Thường Thạnh,
                            <br class="">quận Cái Răng, TP
                            Cần Thơ
                        </p>
                        <p>Email: adfastfootstore@gmai.com</p>
                        <p>Số điện thoại: 0943925652</p>
                        <a th:href="@{/rules}" class="" style="text-decoration: none; color: rgb(54, 54, 54);">
                            <p>Điều khoản và điều kiện</p>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <h4>Danh mục</h4>
                        <ul class="list-unstyled" style="line-height: 35px; font-size: 17px;">
                            <li><a href="/" style="text-decoration: none; color: rgb(54, 54, 54);">Trang chủ</a></li>
                            <li><a href="#" style="text-decoration: none; color: rgb(54, 54, 54);">Giới thiệu</a></li>
                            <li><a href="#" style="text-decoration: none; color: rgb(54, 54, 54);">Liên hệ</a></li>
                            <li><a href="#" style="text-decoration: none; color: rgb(54, 54, 54);">Thực đơn</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <h4>Theo dõi chúng tôi</h4>
                        <p style="text-align: justify; line-height: 27px; font-size: 17px;">Theo dõi chúng tôi trên các
                            mạng xã hội để cập nhật thông tin mới nhất về sản phẩm và khuyến
                            mãi.</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a
                                    href="https://www.facebook.com/profile.php?id=61553402523369" class="btn"><i
                                        class="fab fa-facebook" style="font-size: 27px;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item"><a href="https://github.com/NgoLienn/DUANTOTNGHIEP.git"
                                    class="btn"><i class="fab fa-github" style="font-size: 27px;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Footer -->
    </div>
</body>

</html>