<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="zlayout/fragments :: html_head"></head>

<body>
    <div class="footer" th:fragment="footer">
        <!-- Footer -->
        <footer class="text-center text-black d-flex justify-content-center">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->
                <section class="">
                    <!-- Facebook -->
                    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->

                <!-- Section: Form -->
                <section class="">
                    <form action="">
                        <!--Grid row-->
                        <div class="row d-flex justify-content-center p-4">
                            <!--Grid column-->
                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong>Đăng ký để nhận thông tin mới nhất <br>
                                        của chúng tôi!
                                    </strong>
                                </p>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-5 col-12">
                                <!-- Email input -->
                                <div class="form-outline form-white mb-4">
                                    <input style="caret-color: red;" type="email" placeholder="Email address"
                                        id="form5Example21" class="form-control" /> <label class="form-label"
                                        for="form5Example21"></label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-auto">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-dark mb-4">
                                    Xác Nhận</button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </section>
                <!-- Section: Form -->

                <!-- Section: Links -->
                <section class="ft">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-lg-5 col-md-12 mb-4 mb-md-0 px-5">
                            <h5 class="text-center">
                                <span class="d-flex"><b>Yummy</b></span>
                            </h5>

                            <ul class="list-unstyled mb-0 col-md-24">
                                <li><a href="#" class="text-black">Bán Thức Ăn Online
                                        Yummy</a></li>
                                <li><a href="#!" class="text-black"><b>Trụ Sở
                                            Chính:</b> Đường số 22, phường Thường Thạnh,
                                        quận Cái Răng, TP
                                        Cần Thơ </a></li>
                            </ul>
                        </div>

                        <div class="col-lg-5 col-md-12 mb-4 mb-md-0 px-5">
                            <h5 class="text-center">
                                <span class="d-flex"><b>Liên Hệ</b></span>
                            </h5>

                            <ul class="list-unstyled ">
                                <li><a href="#" class="text-black">Yummy:
                                        banglcpc04088@fpt.edu.vn</a></li>
                                <li><a href="#!" class="text-black">Liên Hệ:
                                        0943925652</a></li>
                                <li><a href="#!" class="text-black">Chính Sách Bảo
                                        Mật</a></li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
</body>

</html>