<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">

<head th:replace="zlayout/fragments :: html_head"></head>


<body>
    <!-- loader -->
    <div id="loader" th:fragment="loader">
        <span>
            <img src="/assets/images/loading.gif" alt="img/loading">
        </span>
    </div>
    <!-- end -->

    <!-- ẩn hiện cart small, cart chính nằm bên dưới phần nav-->
    <div class="offcanvas offcanvas-end cart_box_small" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel" th:fragment="cartSmall">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">
                <i class="bi bi-cart-plus"></i>
                <!-- <span th:text="${'Giỏ hàng ' + carts.cart_items.size() + ' sản phẩm'}">
                </span> -->
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="cart_small card">
                <div class="card_small" style="max-width: 540px; border: none;">
                    <div class="row g-0" >
                        <!-- <div class="col-md-3 img_cart_small mb-0">th:each="item : ${carts.cart_items}"
                            <img th:src="${item.productId.image}" class="img-fluid max-height-300 max-width-300"
                                alt="img_cart_small">
                        </div> -->
                        <div class="col-md-8">
                            <!-- <a class="delete-item" th:href="@{|/index/remove/${item.cartitemID}|}">
                                <span class="delete_cart_small">
                                    <i class="bi bi-x"></i>
                                </span>
                            </a> -->
                            <!-- <div class="card-body">
                                <h5 class="card-title" th:text="${item.productId.name}"></h5>
                                <span class="card-text"
                                    th:text="${#numbers.formatDecimal(item.price , 0, 'COMMA', 0, 'POINT')} + 'đ '"></span>
                                <span th:text="' x' + ${item.quantity}" class="" style="color: gray;"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <span th:text="'size ' + ${item.sizeName}" class="" style="color: gray;"></span>
                            </div> -->
                        </div>
                        <hr style="color: rgb(125, 125, 125); margin-top: 20px;">
                    </div>
                </div>
            </div>
            <div class="sum_cart_small">
                <!-- <p class="card-text1 "><small class="text-body-secondary">Last updated 3 mins ago</small> -->
                <!-- <span>Tổng: </span> <span class="sum-price-small"
                    th:text="${#numbers.formatDecimal(subtotal , 0, 'COMMA', 0, 'POINT')} + ' đ'"></span> -->
            </div>
            <hr>
            <div class="box_btn">
                <a th:href="@{/cart}">
                    <button type="submit" class="btn btn-danger btn-cart-small">Giỏ
                        Hàng
                    </button>
                </a>
                <a th:href="@{/menu#menu-food}">
                    <button type="submit" class="btn btn-menu-small">Menu</button>
                </a>
            </div>
        </div>
    </div>
    <!-- end -->

    <script>
        // xóa sản phẩm bằng ajax
        // end
    </script>
</body>

</html>