<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    híbk

    <div th:each="in : ${category}">
        <a th:href="${in.name}">
            <h1 th:text="${in.name}"></h1>
        </a>
    </div>
    <div th:each="item : ${Id}">
        <h1 th:text="${categoryId}"></h1>

    </div>
    <!-- <div th:each="item : ${Id}">
        <h1 th:text="${item}"></h1>
    </div>

 <div th:each="product : ${productss}">
            <h1 th:text="${product.name}"></h1>
        </div>
    <div th:each="category : ${ListCategory}">
        <a th:href="@{/category/{categoryId}(categoryId=${category.id})}">
            <h1 th:text="${category.name}"></h1>
        </a>
    </div>

    <div th:each="product : ${ListProduct}" th:if="${product.category.id == categoryId}">
        <h1 th:text="${product.name}"></h1>
    </div> -->

    <!-- Thêm đoạn mã này vào file ahi.html -->

</body>

</html>