<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{zlayout/fragments :: html_head}"></head>
<link rel="stylesheet" th:href="@{../assets/css_main/main.css}">

<body>
	<div th:replace="~{zlayout/loadAndCartSmall :: loader}"></div>

	<div th:replace="~{zlayout/loadAndCartSmall :: cartSmall}"></div>

	<div class="containerr">
		<div class="image_big">
			<div class="image-one"></div>
			<div class="image-three"></div>
			<div class="image-two">
				<img src="/assets/images/leaves.png" alt="leaves.png" class="food2">
				<nav class="navb navbar-expand-lg navbar-light bg-light" th:replace="~{zlayout/navbar :: menu}"></nav>

				<header class="banner-big">
					<aside>
						<img src="/assets/images/banner_pizza.png" alt="about-banner">
					</aside>

					<article>
						<p>
							Hương Vị Tuyệt Vời <br> Dịch Vụ Chuyên Nghiệp.
						</p>
						<div class="girdd">
							<a href="#menu-food">
								<div class="gird-small">
									<img src="/assets/images/icon-pizza.png" alt="icon-pizza">
								</div>
							</a> <a href="#menu-food">
								<div class="gird-small">
									<img src="/assets/images/icon-humberger.png" alt="icon-burger">
								</div>
							</a> <a href="#menu-food">
								<div class="gird-small">
									<img src="/assets/images/icon-noodle.png" alt="icon-noodle">
								</div>
							</a> <a href="#menu-food">
								<div class="gird-small">
									<img src="/assets/images/icon-cream.png" alt="icon-kem">
								</div>
							</a>
						</div>
						<div class="button-sp">
							<a href="#menu-food">
								<button>
									Xem Menu&nbsp;&nbsp;&nbsp; <i class="bi bi-arrow-right"></i>
								</button>
							</a>
						</div>
					</article>
				</header>
			</div>
			<div class="image-four">

				<div class="food-sp1">
					<div class="wrap-food-sp1">
						<a href="#">
							<div class="title text-black">Pizza Pepperoni</div>
						</a>
						<div class="quantity">
							View: <small style="font-weight: initial;">1 Lượt xem</small>
						</div>
						<div class="evaluate">
							<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
								class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
								class="bi bi-star-half"></i>
						</div>
						<div class="price">60000$</div>
						<!-- <div class="share">
							<i class="bi bi-share"></i>
						</div>
						<div class="tym">
							<i class="bi bi-heart-fill"></i>
						</div> -->
						<!-- <a href="#"> <span class="cart-sp1"> <i class="bi bi-cart3"></i>
							</span>
						</a> -->
					</div>
					<aside class="mota-sp1">
						<span>Món ăn nhanh - Những lựa chọn đa dạng và ngon miệng</span>
						<p>Với những lựa chọn đa dạng và ngon miệng, món ăn nhanh là
							một phần không thể thiếu của đời sống hiện đại, đáp ứng nhu cầu
							ẩm thực nhanh gọn của mọi người. Hãy thưởng thức và cảm nhận
							hương vị tuyệt vời của những món ăn nhanh ngon miệng.</p>
					</aside>
					<a href="#"> <img src="../assets/images/img_product/pizza_pepperoni.png" alt="food-menu">
					</a>
				</div>

				<div class="food-sp2">
					<span class="wrap-food-sp2">
						<div class="title">Hamburger Classic</div>
						<div class="quantity">
							View: <small style="font-weight: initial;">1 Lượt xem</small>
						</div>
						<div class="evaluate">
							<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
								class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star"></i>
						</div>
						<div class="price">35000$</div>
						<!-- <div class="share">
							<i class="bi bi-share"></i>
						</div>
						<div class="tym">
							<i class="bi bi-heart-fill"></i>
						</div>
						<a href="#1"> <span class="cart-sp2"> <i class="bi bi-cart3"></i>
							</span>
						</a> -->
					</span> <img src="../assets/images/img_product/main_img.png" alt="food-menu">
				</div>

				<div class="food-sp3">
					<aside>
						<img src="/assets/images/promo-4.png" alt="promo">
					</aside>
					<article>
						<span>Thức ăn nhanh cung cấp cho bạn những lựa chọn tốt
							nhất về ẩm thực</span>
						<p>cho phép bạn thưởng thức những món ăn nhanh ngon miệng và
							đáp ứng nhu cầu ẩm thực nhanh gọn của bạn. Hãy thưởng thức món ăn
							nhanh ngon miệng và cảm nhận hương vị tuyệt vời của chúng.</p>
					</article>
				</div>

				<!-- slider -->

				<div class="swiper-container card-slider ">
					<span class="text-slide">From Our Menu</span>
					<div class="swiper-wrapper card-wrapper">
						<div th:each="item : ${ListProduct}"
							class="swiper-slide card show active text-center slide-card">
							<a th:href="@{/user/productDetail/{productId}(productId=${item.productId})}"
								class="text-black">
								<img th:src="@{'/assets/images/img_product/' + ${item.image}}" class="card-img-top"
									alt="anhslide">
							</a>
							<form method="post" th:action="@{|/addToCart/${item.productId}|}">
								<div class="card-body">
									<h5 class="card-title" th:text="${item.name}"></h5>
									<p class="card-text"
										th:text="${#numbers.formatDecimal(item.price , 0, 'COMMA', 0, 'POINT')} + ' VND'">
									</p>
									<a href="#" class="btn btn-danger d-flex justify-content-center"> <button
											type="submit" class="btn btn-danger d-flex justify-content-center"> Thêm
											Giỏ Hàng </button></a>
								</div>
							</form>
						</div>
						<!-- Add More "swiper-slide's" To Add More Slides -->
					</div>
					<!-- Add Pagination -->
					<div class="controls mt-4">
						<div class="swiper-pagination"></div>
						<button class="btn btn-outline slide-prev">
							<i class="bi bi-arrow-left"></i>
						</button>
						<button class="btn btn-outline slide-next">
							<i class="bi bi-arrow-right"></i>
						</button>
					</div>
				</div>
				<!-- end -->
			</div>
			<img class="myimage" src="/assets/images/food4.png" alt="food4">
			<section id="menu-food">
				<div class="image-five">
					<h2>Menu Món Ăn</h2>
					<ul class="nav nav-tabs tabpanel border-bottom-0 justify-content-center flex-wrap" id="myTab"
						role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link text-white active custom-tab-link" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab"
								aria-controls="home-tab-pane" aria-selected="true">Tất
								Cả
							</button>
						</li>
						<th:block th:each="category : ${categoryList}">
							<li class="nav-item" role="presentation">
								<button class="nav-link text-white custom-tab-link"
									th:id="'pizza-tab'+ ${category.categoryId}" th:data-bs-toggle="tab"
									th:data-bs-target="'#pizza-tab-pane' + ${category.categoryId}" type="button"
									role="tab" th:aria-controls="'pizza-tab-pane' + ${category.categoryId}"
									th:aria-selected="false" th:text="${category.name}">
								</button>
							</li>
						</th:block>
					</ul>

					<div class="tab-content" id="myTabContent">
						<section class="tab-pane fade show active" id="all-tab-pane" role="tabpanel"
							aria-labelledby="home-tab" tabindex="0">
							<div class="card-group justify-content-center" style="gap: 100px;">
								<div th:each="item : ${ListProduct}">
									<div class="card">
										<div class="card-body">
											<a th:href="@{/user/productDetail/{productId}(productId=${item.productId})}"
												class="text-black">
												<img class="card-img-top"
													th:src="@{'/assets/images/img_product/' + ${item.image}}"
													alt="food-menu" />
												<div class="title" th:text="${item.name}"></div>
											</a>
											<div class="quantity">
												View: <small style="font-weight: initial;"
													th:text="${item.views}"></small>
											</div>
											<div class="evaluate">
												<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
												<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
												<i class="bi bi-star-half"></i>
											</div>
											<div class="price"
												th:text="'Price: ' +${#numbers.formatDecimal(item.price , 0, 'COMMA', 0, 'POINT')} + ' VND'">
											</div>
											<div class="share">
												<i class="bi bi-share"></i>
											</div>
											<div class="tym">
												<i class="bi bi-heart-fill"></i>
											</div>
											<a href="#1"> <span class="cart-sp4"> <i class="bi bi-cart3"></i>
												</span>
											</a>

										</div>
									</div>
								</div>
							</div>
						</section>
						<th:block th:each="category : ${categoryList}">
							<section class="tab-pane fade" th:id="'pizza-tab-pane' + ${category.categoryId}" role="tab"
								th:aria-labelledby="'pizza-tab' + ${category.categoryId}" tabindex="0">
								<div class="card-group justify-content-center" style="gap: 100px;">
									<th:block th:each="product : ${ListProduct}"
										th:if="${product.category.categoryId == category.categoryId}">
										<div class="card">
											<div class=" card-body">
												<a th:href="@{/user/productDetail/{productId}(productId=${product.productId})}"
													class="text-black">
													<img class="card-img-top"
														th:src="@{'/assets/images/img_product/' + ${product.image}}"
														alt="food-menu">
													<div class="title" th:text="${product.name}"></div>
												</a>
												<div class="quantity">
													View: <small style="font-weight: initial;"
														th:text="${product.views}"></small>
												</div>
												<div class="evaluate">
													<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
													<i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
													<i class="bi bi-star-half"></i>
												</div>
												<div class="price"
													th:text="'Price: ' + ${#numbers.formatDecimal(product.price , 0, 'COMMA', 0, 'POINT')} + ' VND'">
												</div>
												<div class="share">
													<i class="bi bi-share"></i>
												</div>
												<div class="tym">
													<i class="bi bi-heart-fill"></i>
												</div>
												<a href="#1"> <span class="cart-sp4"> <i class="bi bi-cart3"></i>
													</span>
												</a>
											</div>
										</div>
									</th:block>
								</div>
							</section>
						</th:block>
					</div>
				</div>
			</section>

			<div class="footer" th:replace="~{zlayout/footer :: footer}"></div>
		</div>

		<a href="#" class="top-home"><span><i class="bi bi-arrow-up-square-fill"></i></span></a>
	</div>


	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/fontawesome-free-6.4.0-web/js/all.js"></script>
	<script src="../assets/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



	<script>
		// loading khi refresh
		var loader = function () {
			setTimeout(function () {
				$('#loader').css({
					'opacity': 0,
					'visibility': 'hidden'
				});
			}, 2000);
		};
		$(function () {
			loader();
		});
		// end

		// 

		$(function () {
			$(window).scroll(function () {
				var scroll = $(window).scrollTop();
				if (scroll >= 1024) {
					$(".navb").addClass("scrolled");
				} else {
					$(".navb").removeClass("scrolled");
				}
			});
		});

		$(function () {
			$(".navbar-toggler").click(function () {
				$(".navbar-collapse").toggleClass("show");
			});
		});
		//end

		// slide show
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 3,
			spaceBetween: 20,
			navigation: {
				nextEl: '.slide-next',
				prevEl: '.slide-prev',
			},
			loop: true,
			autoplay: {
				delay: 3000,
				disableOnInteraction: false,
			},
			slidesPerGroup: 1,
		});
		// end

	</script>
</body>

</html>