<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{zlayout/fragments :: html_head}"></head>
<!-- rerister and login -->
<link id="pagestyle" href="/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css_main/login.css">
<!-- end -->

<body>

  <div th:replace="~{zlayout/loadAndCartSmall :: loader}"></div>

  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav th:replace="zlayout/navbar :: menu_log"></nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="bgound-mo"></div>
              <div class="card card-plain "> <!-- card-plain -->
                <div class="img-blur ">
                  <img src="/assets/images/food5.png" class="anh1" alt="">
                  <img src="/assets/images/cta-banner.png" class="anh2" alt="">
                  <img src="/assets/images/food2.png" class="anh3" alt="">
                </div>
                <div class="text-card pb-0 text-start"><!-- card-header -->
                  <h4 class="font-weight-bolder">Đăng Nhập</h4>
                  <p class="mb-0 text-dark">Nhập tài khoản và mật khẩu để đăng nhập!</p>
                </div>
                <div class="card-body">

                  <form role="form" action="/auth/signin" method="post">
                    <div class="mb-3">
                      <input type="email" class="form-control  form-control-lg" placeholder="Tài Khoản" name="username"
                        aria-label="Email">
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control form-control-lg" placeholder="Mật Khẩu" name="password"
                        aria-label="Password">
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Ghi
                        Nhớ</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a th:href="@{/forgot}">
                        <span class="text-dark font-weight-bold">Quên mật khẩu?</span>
                      </a>
                    </div>
                    <h6 th:text="${message}"></h6>
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-2 mb-0">Đăng Nhập</button>
                    </div>
                  </form>
                  <div class="text-center pt-0 px-lg-2 px-1">
                    <!-- <h4><a th:href="@{/oauth2/authorization/google}">Login with Google</a></h4>
                    <h4><a th:href="@{/oauth2/authorization/facebook}">Login with facebook</a></h4> -->
                    <div class="mt-3 pb-1 position-relative text-center">
                      <p class="text-sm text-white text-secondary text-border d-inline z-index-2 px-3">
                        Hoặc
                      </p>
                    </div>
                    <div class="row px-0 text-center gap-3">
                      <div class="col-3 ms-auto px-0">
                        <a class="btn btn-outline-light w-100" th:href="@{/oauth2/authorization/facebook}">
                          <svg width="60px" height="32px" viewBox="0 0 64 64" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-28.000000, 3.000000)" fill-rule="nonzero">
                                <circle fill="#3C5A9A" cx="29.5091719" cy="29.4927506" r="29.4882047"></circle>
                                <path
                                  d="M39.0974944,9.05587273 L32.5651312,9.05587273 C28.6886088,9.05587273 24.3768224,10.6862851 24.3768224,16.3054653 C24.395747,18.2634019 24.3768224,20.1385313 24.3768224,22.2488655 L19.8922122,22.2488655 L19.8922122,29.3852113 L24.5156022,29.3852113 L24.5156022,49.9295284 L33.0113092,49.9295284 L33.0113092,29.2496356 L38.6187742,29.2496356 L39.1261316,22.2288395 L32.8649196,22.2288395 C32.8649196,22.2288395 32.8789377,19.1056932 32.8649196,18.1987181 C32.8649196,15.9781412 35.1755132,16.1053059 35.3144932,16.1053059 C36.4140178,16.1053059 38.5518876,16.1085101 39.1006986,16.1053059 L39.1006986,9.05587273 L39.0974944,9.05587273 L39.0974944,9.05587273 Z"
                                  fill="#FFFFFF"></path>
                              </g>
                            </g>
                          </svg>
                        </a>
                      </div>
                      <div class="col-3 me-auto px-0">
                        <a class="btn btn-outline-light w-100" th:href="@{/oauth2/authorization/google}">
                          <svg width="60px" height="32px" viewBox="0 0 64 64" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-28.000000, 2.000000)" fill-rule="nonzero">
                                <path
                                  d="M57.8123233,30.1515267 C57.8123233,27.7263183 57.6155321,25.9565533 57.1896408,24.1212666 L29.4960833,24.1212666 L29.4960833,35.0674653 L45.7515771,35.0674653 C45.4239683,37.7877475 43.6542033,41.8844383 39.7213169,44.6372555 L39.6661883,45.0037254 L48.4223791,51.7870338 L49.0290201,51.8475849 C54.6004021,46.7020943 57.8123233,39.1313952 57.8123233,30.1515267"
                                  fill="#4285F4"></path>
                                <path
                                  d="M29.4960833,58.9921667 C37.4599129,58.9921667 44.1456164,56.3701671 49.0290201,51.8475849 L39.7213169,44.6372555 C37.2305867,46.3742596 33.887622,47.5868638 29.4960833,47.5868638 C21.6960582,47.5868638 15.0758763,42.4415991 12.7159637,35.3297782 L12.3700541,35.3591501 L3.26524241,42.4054492 L3.14617358,42.736447 C7.9965904,52.3717589 17.959737,58.9921667 29.4960833,58.9921667"
                                  fill="#34A853"></path>
                                <path
                                  d="M12.7159637,35.3297782 C12.0932812,33.4944915 11.7329116,31.5279353 11.7329116,29.4960833 C11.7329116,27.4640054 12.0932812,25.4976752 12.6832029,23.6623884 L12.6667095,23.2715173 L3.44779955,16.1120237 L3.14617358,16.2554937 C1.14708246,20.2539019 0,24.7439491 0,29.4960833 C0,34.2482175 1.14708246,38.7380388 3.14617358,42.736447 L12.7159637,35.3297782"
                                  fill="#FBBC05"></path>
                                <path
                                  d="M29.4960833,11.4050769 C35.0347044,11.4050769 38.7707997,13.7975244 40.9011602,15.7968415 L49.2255853,7.66898166 C44.1130815,2.91684746 37.4599129,0 29.4960833,0 C17.959737,0 7.9965904,6.62018183 3.14617358,16.2554937 L12.6832029,23.6623884 C15.0758763,16.5505675 21.6960582,11.4050769 29.4960833,11.4050769"
                                  fill="#EB4335"></path>
                              </g>
                            </g>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto text-dark">
                    Bạn đã có tài khoản chưa?
                    <a th:href="@{/register}" class="text-dark font-weight-bold">Đăng Ký</a>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="backg col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative h-100 px-7 border-radius-lg d-flex justify-content-center overflow-hidden"
                style="background-image: url(/assets/images/main_img.png);
          background-size: cover;">
                <span class="mask opacity-6"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <!--   Core JS Files   -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <script>
    // loading khi refresh
    var loader = function () {
      setTimeout(function () {
        $('#loader').css({ 'opacity': 0, 'visibility': 'hidden' });
      }, 1000);
    };
    $(function () {
      loader();
    });
    // end

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>