<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{zlayout/fragments :: html_head}"></head>
<base th:href="@{../}">
<link rel="stylesheet" th:href="@{../assets/css_main/product_detail.css}">

<body>
    <div th:replace="~{zlayout/loadAndCartSmall :: loader}"></div>

    <!-- <div th:replace="~{zlayout/loadAndCartSmall :: cartSmall}"></div> -->

    <div class="containerr ">
        <div class="image_big">
            <div class="image-one"></div>
            <div class="image-three"></div>
            <div class="image-two">
                <img src="../assets/images/leaves.png" alt="leaves.png" class="food2">
                <nav class="navb navbar-expand-lg navbar-light bg-light" th:replace="zlayout/navbar :: menu"></nav>

                <header class="banner-big">
                    <div class="wraper">
                        <aside class="">
                            <section id="ttsanpham" class="full-height px-lg-5" style=" border: none;">
                                <form method="post">
                                    <div class="container col-md-12">
                                        <input name="size" id="size" th:value="${sizeNames}" th:data-size="${sizeNames}"
                                            type="hidden">
                                        <div class="col">
                                            <div class="title">
                                                <p th:text="${product.name}" class="text-uppercase"></p>
                                            </div>
                                            <div class="danhgia mb-1">
                                                <div class="star">
                                                    <span id="percentage1" class="sosao"> </span> &nbsp;
                                                    <span class="text-danger" id="rating1" th:data-rating="${star}"
                                                        style=" font-size: 21px;">
                                                    </span> &nbsp;
                                                    &nbsp;&nbsp;<span class="danhgia_text text-dark"
                                                        th:text="${reviews.size()} + ' Đánh giá'">|
                                                        &nbsp;
                                                    </span>
                                                </div>
                                            </div>
                                            <div th:each="product : ${product}">

                                                <div class="size mb-3 mt-4">
                                                    <span>Size</span>&nbsp;&nbsp;&nbsp;
                                                    <div th:each="size : ${product.size}">
                                                        <!-- <a th:href="@{|/user/productDetail/${product.productId}?sizeId=${size.sizeID}|}"
                                                        class="text-decoration-none"> -->
                                                        <input type="button" class="sosize mx-1"
                                                            th:value="${size.tableSize.sizeName}"
                                                            th:data-product-id="${product.productId}"
                                                            th:data-size-id="${size.sizeID}"
                                                            th:id="'sizeButton_' + ${product.productId} + '_' + ${size.tableSize.id}">
                                                        <!-- </a> &nbsp; -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="gia mt-4">
                                                <span>Giá</span>&nbsp;&nbsp;&nbsp;
                                                <span class="text-gach text-decoration-line-through"
                                                    th:text="${#numbers.formatDecimal(product.prices , 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                                                &nbsp;
                                                <span class="price total-price">
                                                    <span class="current-price "
                                                        th:text="${#numbers.formatDecimal(sizeProduct.price , 0, 'COMMA', 0, 'POINT')} + ' đ'">
                                                    </span>
                                                    <span class="total-price"></span>
                                                    &nbsp; &nbsp;
                                                </span>
                                                <!-- <span class="giamgia">10% GIẢM</span> -->
                                            </div>
                                            <div class="soluong mt-4 mb-4">
                                                <span class="cart-item-quantity">
                                                    <span class="text-soluong">Số Lượng</span>&nbsp;&nbsp;&nbsp;
                                                    <input type="button" class="tru" value="-"
                                                        onclick="decrementQuantity()">
                                                    <input class="EquXA8 Wrmraq quantity" type="text" role="spinbutton"
                                                        aria-valuenow="1" name="soluong" value="1" id="quantityInput"
                                                        min="1" onchange="checkQuantity()">
                                                    <input type="button" class="cong" value="+"
                                                        onclick="incrementQuantity()" id="increaseButton">
                                                </span>
                                                <span id="outOfStockMessage"
                                                    style="display: none; color: red; padding-top: 20px;">Sản phẩm không
                                                    đủ số lượng</span>
                                                <input id="availableQuantity" th:value="${availableQuantity}"
                                                    type="hidden">

                                            </div>

                                            <div class="cart-buy-item">
                                                <button type="submit" class="button-cart"
                                                    th:if="${productCategory.categoryId != 4}"
                                                    th:disabled="${productCategory.categoryId == 4 || outOfStockMessage != null}"
                                                    th:formaction="@{|/addToCart/${product.productId}|}">

                                                    <i class="bi bi-cart-plus"></i> Thêm Giỏ Hàng
                                                </button>

                                                <button class="button-buy" th:if="${productCategory.categoryId != 4}"
                                                    th:disabled="${productCategory.categoryId == 4 || outOfStockMessage != null}"
                                                    th:formaction="@{|/payment/${product.productId}|}">
                                                    Mua Ngay
                                                </button>

                                                <div th:if="${productCategory.categoryId == 4}" class=""
                                                    style="font-size: 18px;">Sản phẩm chỉ mua tại cửa hàng!</div>
                                            </div>
                                            <br>
                                            <div th:if="${outOfStockMessage != null}">
                                                <p th:text="${outOfStockMessage}" class="out-of-stock-message"></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </aside>
                        <article>
                            <div class="ifarm-images">
                                <div th:each="image : ${images}">
                                    <img th:src="${image.url_Img}" alt="anhSpham" class="clickable-image"
                                        onclick="showImage(this.src)">
                                </div>
                            </div>
                            <div id="image-container" class="hidden if-image">
                                <img id="product-image" th:src="${product.image}" class="img-food"
                                    style="max-width: 300px; max-height: 300px;">
                            </div>
                        </article>
                    </div>
                </header>
            </div>
            <div class="image-four">
                <nav class="">
                    <div class="nav tab-product" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Mô Tả
                        </button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Đánh Giá
                        </button>
                    </div>
                </nav>
                <div class="tab-product-big tab-content" id="nav-tabContent">
                    <div class="wraper1 tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab" tabindex="0">
                        <div class="container mt-3 col-md-9">
                            <h4>Mô Tả Sản Phẩm</h4>
                            <p class="mt-3">Khi làm burger, thông thường, bánh burger sẽ được chín
                                nhẹ trên bề mặt nóng,
                                sau
                                đó
                                được xếp lên
                                thịt bò, rau sống, sốt và các phụ kiện khác. Sau đó, bánh burger
                                trên cùng sẽ được đặt
                                lên
                                để
                                hoàn thành sản phẩm.

                                Một số biến thể của Burger Classic có thể bao gồm thêm phô mai chảo,
                                gia vị đặc biệt,
                                hoặc
                                thêm
                                các loại gia vị khác nhau...
                            </p>
                            <div id="demo" class="collapse">
                                <span> Burger Classic là một loại burger truyền thống với những
                                    thành phần cơ bản như
                                    sau:</span> <br>

                                <span> 1. Bánh Burger: Thường là bánh mì trắng mềm, hình tròn hoặc
                                    hình xăm.
                                </span> <br>

                                <span>2. Thịt Bò: Thường là thịt bò xay tươi, được chế biến thành
                                    miếng bánh thịt hình
                                    tròn có đường
                                    kính
                                    phù hợp với bánh burger.
                                </span> <br>

                                <span> 3. Rau sống: Bao gồm rau xanh như sốt salad, rau cải xanh, cà
                                    chua, hành tây, và
                                    nhiều loại rau
                                    khác tùy theo sở thích cá nhân.
                                </span> <br>

                                <span>4. Sốt: Sốt thường được sử dụng trong Burger Classic gồm có
                                    sốt mayonnaise, sốt
                                    hành phi, sốt cà
                                    chua, và nhiều loại sốt khác như sốt BBQ, sốt hành, sốt cà chua,
                                    sốt cay, và nhiều
                                    loại
                                    sốt
                                    khác
                                    tùy theo khẩu vị.
                                </span> <br>

                                <span>5. Phụ kiện: Có thể bổ sung phụ kiện như phô mai, trứng,
                                    bacon, hay các loại gia
                                    vị
                                    như muối,
                                    tiêu,
                                    bột đường, paprika, ớt bột,...
                                </span><br>

                                <span>- Classic Burger không chỉ đơn thuần là một bữa ăn ngon lành
                                    mà còn là một trải
                                    nghiệm
                                    thú vị. Hãy tận hưởng cảm giác thịt bò thơm ngon, hòa quyện với
                                    hương vị của rau
                                    sống
                                    tươi mát và các loại sốt đậm đà.
                                </span><br>
                                <span>Một Số Hình Ảnh: </span>
                                <br><br><br> <br>
                            </div>
                            <div class="xemthem" data-bs-toggle="collapse" data-bs-target="#demo">
                                <span>more</span>
                            </div>
                        </div>
                    </div>

                    <div class="wraper1 mt-5 tab-pane fade" id="nav-profile" role="tabpanel"
                        aria-labelledby="nav-profile-tab" tabindex="0">
                        <div class="container col-md-9">
                            <div class="reviews">
                                <h4 class="section-title mb-4 mt-3">Đánh Giá Và Bình Luận</h4>
                                <div class="card-header-comment mb-4">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                data-bs-target="#home-tab-pane" type="button" role="tab"
                                                aria-controls="home-tab-pane" aria-selected="true">Tất Cả</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sao5-tab" data-bs-toggle="tab"
                                                data-bs-target="#sao5-tab-pane" type="button" role="tab"
                                                aria-controls="sao5-tab-pane" aria-selected="false">5 Sao()</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sao4-tab" data-bs-toggle="tab"
                                                data-bs-target="#sao4-tab-pane" type="button" role="tab"
                                                aria-controls="sao4-tab-pane" aria-selected="false">4 Sao()</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sao3-tab" data-bs-toggle="tab"
                                                data-bs-target="#sao3-tab-pane" type="button" role="tab"
                                                aria-controls="sao3-tab-pane" aria-selected="false">3 Sao()</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sao2-tab" data-bs-toggle="tab"
                                                data-bs-target="#sao2-tab-pane" type="button" role="tab"
                                                aria-controls="sao2-tab-pane" aria-selected="false">2 Sao()</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sao1-tab" data-bs-toggle="tab"
                                                data-bs-target="#sao1-tab-pane" type="button" role="tab"
                                                aria-controls="sao1-tab-pane" aria-selected="false">1 Sao()</button>
                                        </li>

                                    </ul>
                                    <br>
                                    <div class="">
                                        <span id="percentage" class=""> </span>
                                        <span class="text-danger" id="rating" th:data-rating="${star}"
                                            style=" font-size: 21px;">
                                        </span> &nbsp;
                                        <span th:text="${reviews.size()} + ' Đánh giá'"></span>
                                    </div>
                                    <br>
                                </div>
                                <div class="review tab-content" id="myTabContent">
                                    <div class="user-review tab-pane fade show active" id="home-tab-pane"
                                        role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                        <div class="info-all" th:each="item : ${reviews}">
                                            <!-- delete comment -->
                                            <div class="dropdown-center d-flex justify-content-end align-items-center">
                                                <button class="position-absolute" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    style="background: none; border: none; font-size: 1.5rem; font-weight: bold;">
                                                    ...
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#1">Xóa Comment</a></li>
                                                </ul>
                                            </div>
                                            <!-- end -->
                                            <div class="user-info">
                                                <div class="d-flex">
                                                    <img th:src="${item.Account.avata}" alt="User Avatar"
                                                        style="width: 50px; height: 50px; border-radius: 100%;"
                                                        class="user-avatar"> &nbsp;
                                                    <div>
                                                        <span class="user-name" th:text="${item.Account.fullname}">
                                                        </span>
                                                        <span class="text-danger" id="danhgia"
                                                            th:data-rating="${item.rating}" style="font-size: 16px;">
                                                        </span>
                                                        <br>
                                                        <span class="review-date"
                                                            style="color: rgb(98, 98, 98); font-size: 14px;"
                                                            th:text="${item.date_post}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review-content mt-3" th:text="${item.comment}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="user-review tab-pane fade " id="sao5-tab-pane" role="tabpanel"
                                        aria-labelledby="sao5-tab" tabindex="0">
                                        <div class="info-all" th:each="fivesao : ${review5}">
                                            <div class="user-info">
                                                <div class="d-flex">
                                                    <img th:src="${fivesao.Account.avata}" alt="User Avatar"
                                                        style="width: 50px; height: 50px; border-radius: 100%;"
                                                        class="user-avatar">

                                                    <div>
                                                        <span class="user-name" th:text="${fivesao.Account.fullname}">
                                                        </span>
                                                        <span class="text-danger" id="danhgia"
                                                            th:data-rating="${fivesao.rating}" style="font-size: 16px;">
                                                        </span>
                                                        <br>
                                                        <span class="review-date"
                                                            style="color: rgb(98, 98, 98); font-size: 14px;"
                                                            th:text="${fivesao.date_post}">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review-content mt-3" th:text="${fivesao.comment}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="user-review tab-pane fade" id="sao4-tab-pane" role="tabpanel"
                                        aria-labelledby="sao4-tab" tabindex="0">
                                        <div class="info-all" th:each="foursao : ${review4}">
                                            <div class="user-info">
                                                <div class="d-flex">
                                                    <img th:src="${foursao.Account.avata}" alt="User Avatar"
                                                        style="width: 50px; height: 50px; border-radius: 100%;"
                                                        class="user-avatar">

                                                    <div>
                                                        <span class="user-name" th:text="${foursao.Account.fullname}">
                                                        </span>
                                                        <span class="text-danger" id="danhgia"
                                                            th:data-rating="${foursao.rating}" style="font-size: 16px;">
                                                        </span>
                                                        <br>
                                                        <span class="review-date"
                                                            style="color: rgb(98, 98, 98); font-size: 14px;"
                                                            th:text="${foursao.date_post}">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review-content mt-3" th:text="${foursao.comment}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="user-review tab-pane fade" id="sao3-tab-pane" role="tabpanel"
                                        aria-labelledby="sao3-tab" tabindex="0">
                                        <div class="info-all" th:each="threesao : ${review3}">
                                            <div class="user-info">
                                                <div class="d-flex">
                                                    <img th:src="${threesao.Account.avata}" alt="User Avatar"
                                                        style="width: 50px; height: 50px; border-radius: 100%;"
                                                        class="user-avatar">

                                                    <div>
                                                        <span class="user-name" th:text="${threesao.Account.fullname}">
                                                        </span>
                                                        <span class="text-danger" id="danhgia"
                                                            th:data-rating="${threesao.rating}"
                                                            style="font-size: 16px;">
                                                        </span>
                                                        <br>
                                                        <span class="review-date"
                                                            style="color: rgb(98, 98, 98); font-size: 14px;"
                                                            th:text="${threesao.date_post}">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review-content mt-3" th:text="${threesao.comment}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="user-review tab-pane fade" id="sao2-tab-pane" role="tabpanel"
                                        aria-labelledby="sao2-tab" tabindex="0">
                                        <div class="info-all" th:each="twosao : ${review2}">
                                            <div class="user-info">
                                                <div class="d-flex">
                                                    <img th:src="${twosao.Account.avata}" alt="User Avatar"
                                                        style="width: 50px; height: 50px; border-radius: 100%;"
                                                        class="user-avatar">

                                                    <div>
                                                        <span class="user-name" th:text="${twosao.Account.fullname}">
                                                        </span>
                                                        <span class="text-danger" id="danhgia"
                                                            th:data-rating="${twosao.rating}" style="font-size: 16px;">
                                                        </span>
                                                        <br>
                                                        <span class="review-date"
                                                            style="color: rgb(98, 98, 98); font-size: 14px;"
                                                            th:text="${twosao.date_post}">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review-content mt-3" th:text="${twosao.comment}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="user-review tab-pane fade" id="sao1-tab-pane" role="tabpanel"
                                        aria-labelledby="sao1-tab" tabindex="0">
                                        <div class="info-all" th:each="onesao : ${review1}">
                                            <div class="user-info">
                                                <div class="d-flex">
                                                    <img th:src="${onesao.Account.avata}" alt="User Avatar"
                                                        style="width: 50px; height: 50px; border-radius: 100%;"
                                                        class="user-avatar">

                                                    <div>
                                                        <span class="user-name" th:text="${onesao.Account.fullname}">
                                                        </span>
                                                        <span class="text-danger" id="danhgia"
                                                            th:data-rating="${onesao.rating}" style="font-size: 16px;">
                                                        </span>
                                                        <br>
                                                        <span class="review-date"
                                                            style="color: rgb(98, 98, 98); font-size: 14px;"
                                                            th:text="${onesao.date_post}">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review-content mt-3" th:text="${onesao.comment}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="myimage" src="/assets/images/food4.png" alt="food4">

            <div class="footer" th:replace="~{zlayout/footer :: footer}"></div>
        </div>

        <a href="#" class="top-home"><span><i class="bi bi-arrow-up-square-fill"></i></span></a>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script>
        // loading khi refresh
        var loader = function () {
            setTimeout(function () {
                $('#loader').css({ 'opacity': 0, 'visibility': 'hidden' });
            }, 1000);
        };
        $(function () {
            loader();
        });
        // end

        // navbar ẩn hiện
        $(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 1024) {
                    $(".navb").addClass("scrolled");
                } else {
                    $(".navb").removeClass("scrolled");
                }
            });
        });

        $(function () {
            $(".navbar-toggler").click(function () {
                $(".navbar-collapse").toggleClass("show");
            });
        });
        // end

        // iframe chuyển ảnh
        function showImage(imageSrc) {
            var imageContainer = document.getElementById("image-container");
            var productImage = document.getElementById("product-image");
            productImage.src = imageSrc;
            imageContainer.classList.toggle("hidden");
        }
        // end

        //giữ nguyên vị trí size Ajax
        $(document).ready(function () {
            $('.sosize').click(function () {
                var productID = $(this).data('product-id');
                var sizeID = $(this).data('size-id');

                // Make the AJAX request
                $.ajax({
                    url: '/productDetail',
                    type: 'GET',
                    data: {
                        productID: productID,
                        sizeID: sizeID,
                    },
                    success: function (response) {
                        // Update the HTML with the server response
                        $('.result').html(response);
                        var currentPrice = $(response).find('.price').text();
                        $('.current-price').text(currentPrice);

                        // Extract sizeName from the response and set it in the input field
                        var sizeName = $(response).find('#size').data('size');
                        $('#size').val(sizeName);
                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the AJAX request
                        console.log(error);
                    }
                });
            });
        });



        // hiển thị mặc định size đầu tiên "size S" active
        // Set the default size as "S" for all products
        document.addEventListener("DOMContentLoaded", function () {
            var defaultSizeButton = document.querySelector(".sosize");
            if (defaultSizeButton) {
                defaultSizeButton.classList.add("active");
                var productId = defaultSizeButton.getAttribute("data-product-id");
                var sizeId = defaultSizeButton.getAttribute("data-size-id");

                // lắng nghe sự kiện click và chọn button size làm mặc định
                var sizeButtons = document.querySelectorAll(".sosize");
                sizeButtons.forEach(function (button) {
                    button.addEventListener("click", function () {
                        sizeButtons.forEach(function (button) {
                            button.classList.remove("active");
                        });
                        button.classList.add("active");
                    });
                });
            }
        });
        // end

        // tính số phần trăm đánh giá, trung bình của sao
        document.addEventListener("DOMContentLoaded", function () {
            const ratingDiv = document.getElementById("rating");
            const ratingValue = parseFloat(ratingDiv.getAttribute("data-rating")); // Lấy giá trị từ thuộc tính 'data-rating'

            const roundedRating = Math.floor(ratingValue); // Số sao full
            const decimalPart = ratingValue - roundedRating; // Phần thập phân

            const ratingText = document.getElementById("percentage");
            ratingDiv.appendChild(ratingText);

            if (!isNaN(ratingValue) && ratingValue >= 1) {
                ratingText.textContent = ` ${ratingValue.toFixed(1)} `; // Hiển thị giá trị đánh giá kế bên sao
            } else {
                ratingText.textContent = ' 0 '; // Hiển thị thông báo khi không có đánh giá hoặc giá trị nhỏ hơn 1
            }

            for (let i = 1; i <= 5; i++) {
                const star = document.createElement("i");
                star.classList.add("fas");

                if (i <= roundedRating) {
                    star.classList.add("fa-star");
                } else if (i === roundedRating + 1 && decimalPart > 0) {
                    // Xử lý hiển thị nửa sao nếu có
                    if (decimalPart >= 0.75) {
                        star.classList.add("fa-star");
                    } else if (decimalPart >= 0.25) {
                        star.classList.add("fa-star-half-alt");
                    }
                } else {
                    star.classList.add("fa-star");
                    star.style.opacity = "0.3";
                }

                ratingDiv.appendChild(star);
            }

        });

        // tính trung bình sao trên detail
        document.addEventListener("DOMContentLoaded", function () {
            const ratingDiv = document.getElementById("rating1");
            const ratingValue = parseFloat(ratingDiv.getAttribute("data-rating")); // Lấy giá trị từ thuộc tính 'data-rating'

            const roundedRating = Math.floor(ratingValue); // Số sao full
            const decimalPart = ratingValue - roundedRating; // Phần thập phân

            const ratingText = document.getElementById("percentage1");
            ratingDiv.appendChild(ratingText);

            if (!isNaN(ratingValue) && ratingValue >= 1) {
                ratingText.textContent = ` ${ratingValue.toFixed(1)} `; // Hiển thị giá trị đánh giá kế bên sao
            } else {
                ratingText.textContent = ' 0 '; // Hiển thị thông báo khi không có đánh giá hoặc giá trị nhỏ hơn 1
            }

            for (let i = 1; i <= 5; i++) {
                const star = document.createElement("i");
                star.classList.add("fas");

                if (i <= roundedRating) {
                    star.classList.add("fa-star");
                } else if (i === roundedRating + 1 && decimalPart > 0) {
                    // Xử lý hiển thị nửa sao nếu có
                    if (decimalPart >= 0.75) {
                        star.classList.add("fa-star");
                    } else if (decimalPart >= 0.25) {
                        star.classList.add("fa-star-half-alt");
                    }
                } else {
                    star.classList.add("fa-star");
                    star.style.opacity = "0.3";
                }

                ratingDiv.appendChild(star);
            }

        });
        // end

        // end

        // hiển thị ra số sao của người dùng
        document.addEventListener("DOMContentLoaded", function () {
            const ratingDivs = document.querySelectorAll("#danhgia");

            ratingDivs.forEach(ratingDiv => {
                const ratingValue = parseFloat(ratingDiv.getAttribute("data-rating")); // Get rating value here

                const percentage = (ratingValue / 5) * 100;

                for (let i = 1; i <= 5; i++) {
                    const star = document.createElement("i");
                    star.classList.add("fas");

                    if (i <= ratingValue) {
                        star.classList.add("fa-star");
                    } else if (i - 0.5 <= ratingValue) {
                        star.classList.add("fa-star-half-alt");
                    } else {
                        star.classList.add("fa-star");
                        star.style.opacity = "0.3";
                    }
                    ratingDiv.appendChild(star);
                }
            });
        });
        // end

        // tang giam so luong
        function checkQuantity() {
            var quantity = parseInt(document.getElementById('quantityInput').value);
            var availableQuantity = parseInt(document.getElementById('availableQuantity').value);

            if (quantity >= availableQuantity) {
                document.getElementById('outOfStockMessage').style.display = 'block';
                document.getElementById('increaseButton').disabled = true; // Vô hiệu hóa nút tăng số lượng
            } else {
                document.getElementById('outOfStockMessage').style.display = 'none';
                document.getElementById('increaseButton').disabled = false; // Kích hoạt lại nút tăng số lượng
            }
        }

        // Các hàm tăng và giảm số lượng
        function incrementQuantity() {
            var quantityInput = document.getElementById('quantityInput');
            var currentQuantity = parseInt(quantityInput.value);
            quantityInput.value = currentQuantity + 1;
            checkQuantity(); // Kiểm tra số lượng sau khi tăng
        }

        function decrementQuantity() {
            var quantityInput = document.getElementById('quantityInput');
            var currentQuantity = parseInt(quantityInput.value);
            if (currentQuantity > 1) {
                quantityInput.value = currentQuantity - 1;
            }
            checkQuantity(); // Kiểm tra số lượng sau khi giảm
        }

    </script>


</body>

</html>