* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bgtoggle-color);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

:root {
    /* ===== Colors ===== */
    --body-color: rgba(255, 255, 255, 0.5);
    --bgtoggle-color: rgba(255, 255, 255, 0.3);
    --bgthree-color: rgba(255, 255, 255, 0.5);
    --iframe-color: rgba(255, 255, 255, 0.8);
    --button-color: rgb(219, 2, 2);
    --sidebar-color: #0d1116;
    --primary-color: #3a3b3c;
    --primary-color-light: #0d1116;
    --toggle-color: #fff;
    --text-color: #ccc;


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.containerr {
    position: relative;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.containerr .image-one {
    background-image: url(/assets/images/background.jpg);
    filter: blur(20px);
    background-size: 100% 1000px;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 102.5%;
    z-index: -1;
    left: 0;
    top: 0;

}

.containerr .image-two {
    background-color: var(--body-color);
    /* Màu nền với độ mờ 50% */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 70px;
    left: 5%;
    bottom: 8%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

/* */

.containerr .myimage {
    position: absolute;
    left: 75%;
    top: 14%;
    /* transform: rotate(-45deg); */
    width: 25%;
    z-index: 1;
}

.containerr .image-two .yum-logo {
    position: absolute;
    width: 150px;
    height: auto;
    top: 7%;
    left: 5%;
    z-index: 0;
}

.containerr .image-two .collapse .navbar-nav {
    position: absolute;
    top: 9%;
    left: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10%;
    cursor: pointer;
    z-index: 0;
}

.containerr .image-two .navb .collapse .navbar-nav .nav-item .nav-link:hover {
    color: rgb(150, 2, 2);
}

.containerr .image-two .collapse .navbar-nav li a {
    width: 100px;
    color: black;
    font-size: 1.2rem;
    z-index: 1;
    display: inline-block;

}

/* Thiết lập cho logo ra giữa trên thiết bị di động */
.navbar-brand {
    order: 1;
    margin-right: 0 !important;
}

/* Thiết lập cho nút toggle */
.navbar-toggler {
    position: absolute;
    top: 8%;
    right: 5%;
    order: 1;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background: var(--bgtoggle-color);
}

/* Thêm hiệu ứng transition cho thanh navbar */
.navb .navbar-collapse {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

/* button Đăng nhập */
.navb .btn-sign {
    position: absolute;
    right: 10%;
    top: 9%;
    width: 100px;
    height: 40px;
    background: var(--button-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
}

.navb .btn-sign:hover {
    background-color: rgb(209, 8, 8);
}

.navb a {
    text-decoration: none;
    color: white;
}

/* button Giỏ hàng */

.navb .btn-cart {
    position: absolute;
    right: 21%;
    top: 9%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 18px;
}

.btn-cart {
    transition: transform 0.3s ease;
}

.btn-cart:hover {
    transform: scale(1.1);
}

/* mix-blend-mode: lighten; */

.containerr .food2 {
    position: absolute;
    width: 13%;
    top: -5%;
    left: -2%;
}


/* header */

.image-two header {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 180px;
    padding-top: 20px;
    width: 90%;
    height: auto;
    z-index: 0;
    border-radius: 60px;
}

.banner-big .img-blur img {
    position: absolute;
    width: 200px;
    height: 200px;
}

.banner-big .img-blur .anh1 {
    position: absolute;
    top: 65%;
    left: 0%;
}

/*  */
.banner-big .wraper aside .tttk {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-big .wraper aside {
    padding: 30px;
}

.banner-big .wraper aside .container-fluid {
    position: relative;
    background: var(--bgtoggle-color);
    border-radius: 10px;
}

.banner-big .wraper aside .container-fluid .address-section .address-card {
    display: flex;
}

.banner-big .wraper aside .container-fluid .address-section .address-card .name,
.phone {
    font-weight: bold;
    font-size: 18px;
}

.banner-big .wraper aside .container-fluid .address-section .text-location {
    text-decoration: none;
}

.banner-big .wraper aside .container-fluid .address-section .location {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    content: '...';
    display: flex;
}

.banner-big .wraper aside .container-fluid .address-section .location label {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner-big .wraper aside .container-fluid .address-section .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-big .wraper aside .container-fluid .address-section .modal-content {
    background-color: var(--iframe-color);
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    max-width: 600px;
}

.banner-big .wraper aside .container-fluid .address-section .modal-content .close {
    padding: 7px;
    border: none;
    color: #101010;
    float: left;
    border-radius: 5px;
    background: rgb(231, 231, 231);
}

.banner-big .wraper aside .container-fluid .address-section .modal-content .close:hover {
    background: rgb(240, 240, 240);
}


.banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh {
    padding: 7px;
    border: none;
    color: #ffffff;
    float: right;
    background: rgb(205, 9, 9);
    border-radius: 5px;
}

.banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh:hover {
    background: rgb(223, 17, 17);
}

.banner-big .wraper aside .container-fluid .address-section .modal-content form .form-control {
    background: none;
    color: black;
    border: 1px solid rgb(190, 190, 190);
    outline: none !important;
    box-shadow: none !important;
}

/* sản phẩm cần thanh toán */

.banner-big .wraper aside .container-fluid .product-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.banner-big .wraper aside .container-fluid .product-container .product-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.banner-big .wraper aside .container-fluid .product-container .product-row .product-cell {
    flex-basis: 30%;
}

.banner-big .wraper aside .container-fluid .product-container .product-row .product-cell-name {
    flex-basis: 20%;
    display: flex;
    font-size: 18px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    content: '...';
}

.banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:last-of-type {
    flex-basis: 15%;
    text-align: right;
}

.banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:first-of-type {
    font-size: 19px;
}

.banner-big .wraper aside .container-fluid .product-container .product-row .img-cell {
    width: 100px;
    height: 80px;
    padding-right: 0px;
    cursor: pointer;
    object-fit: cover;
    background-size: cover;
}

.banner-big .wraper aside .container-fluid .product-container .product-row:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* phương thức thanh toán */
.banner-big .wraper aside .container-fluid .tab-pane-payment {
    gap: 20px;
    display: flex;
    align-items: center;
}

.banner-big .wraper aside .container-fluid .tab-pane-payment button {
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(135, 135, 135);
}

.banner-big .wraper aside .container-fluid .tab-pane-payment button.active {
    background: rgb(228, 52, 52);
    color: white;
}

.banner-big .wraper aside .container-fluid .tab-pane-payment button:hover,
.banner-big .wraper aside .container-fluid .tab-pane-payment button:focus-within {
    background: rgb(228, 52, 52);
    color: white;
}

.banner-big .wraper aside .container-fluid .container-fluid-payment {
    text-align: right;
    line-height: 40px;
    font-size: 17px;
}

.banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment {
    margin-right: 40px;
}

.banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment:first-of-type {
    padding-right: 45px;
}

.banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment1 {
    padding-right: 89px;
}

.banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment-sum {
    font-size: 25px;
    font-weight: bold;
    color: rgb(219, 0, 0);
}

.banner-big .wraper aside .container-fluid .container-fluid-payment .tbtn-thanhtoan {
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 40px;
}


/* end */

/* .image-two .banner-big  */


header .girdd {
    display: flex;
    flex-direction: center;
    justify-content: left;
    align-items: center;
    margin-top: 35px;
    gap: 50px;
}

footer {
    position: relative;
    top: 0;
    z-index: -1;
    background: var(--body-color);
    margin-left: 5%;
    margin-top: 70px;
    width: 90%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
}

footer .ft .logo-footer {
    width: 150px;
    height: 100px;
}

footer .ft ul li a {
    text-decoration: none;
    line-height: 50px;

}

footer .ft ul li {
    text-align: justify;
    text-justify: inter-word;
}

/* end */

/* top-home */
/* nút bấm quay về đầu trang */
.containerr .top-home i {
    position: relative;
    bottom: 5%;
    right: 3%;
    font-size: 2.5em;
    position: fixed;
    color: white;
    z-index: 9999;
}

.containerr .top-home {
    scroll-behavior: smooth;
}

/* responsive */
@media only screen and (min-width: 375px) and (max-width: 575.5px) {

    /* CSS règles cho thiết bị tablet */
    .containerr .image-two {
        position: relative;
        top: 70px;
        left: 5%;
        bottom: 8%;
        width: 90%;
        height: auto;
        display: flex;
    }

    .navbar-toggler {
        position: absolute;
        top: 7.5%;
    }

    .navb .btn-sign {
        position: absolute;
        right: 18%;
        top: 7.5%;
        width: 100px;
        height: 40px;
    }

    .containerr .image-two .collapse .navbar-nav {
        position: absolute;
        top: 7%;
        left: 25%;
        display: flex;
        gap: 10%;
        background-color: rgb(211, 211, 211);
        padding: 30px 30px;
        width: 200px;
        border-radius: 20px;
        opacity: 0.9;
        z-index: 1;
    }

    .navb .btn-cart {
        position: absolute;
        right: 48%;
        top: 7.5%;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .containerr .image-two .yum-logo {
        position: absolute;
        width: 100px;
        height: auto;
        top: 7%;
        left: 5%;
    }

    /* end navbar */

    /* banner */
    .image-two header article {
        position: absolute;
        left: 10%;
        top: 20%;
        font-size: 0;
    }

    .image-two header article p {
        font-size: 1.6rem;
    }

    .image-two header article a img {
        width: 45px;
        height: 45px;
        padding: 2px;
        margin-left: -10px;
    }

    .image-two header article a button {
        margin-top: 40px;
        width: 180px;
        height: 45px;
    }

    .image-two header aside img {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 250px;
        width: 100%;
        height: auto;
        padding-top: 220px;
        padding-bottom: 20px;
    }

    /* end banner */

    /* header */

    .image-two header {
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        height: auto;
    }

    .banner-big .img-blur .anh1 {
        position: absolute;
        top: 84%;
        left: 0%;
        z-index: -1;
    }

    /*  */
    .banner-big .wraper aside .tttk {
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .banner-big .wraper aside {
        padding: 30px;
    }

    .banner-big .wraper aside .container-fluid {
        position: relative;
        background: var(--bgtoggle-color);
        border-radius: 10px;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card {
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card .name,
    .phone {
        font-weight: bold;
        font-size: 18px;
        width: 300px;
    }

    .banner-big .wraper aside .container-fluid .address-section .text-location {
        text-decoration: none;
        width: 300px;
    }

    .banner-big .wraper aside .container-fluid .address-section .location {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
        display: none;
    }

    .banner-big .wraper aside .container-fluid .address-section .location label {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content {
        background-color: var(--iframe-color);
        margin: 10% auto;
        padding: 30px;
        border: 1px solid #888;
        max-width: 600px;
        z-index: 9999;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close {
        padding: 7px;
        border: none;
        color: #101010;
        float: left;
        border-radius: 5px;
        background: rgb(231, 231, 231);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close:hover {
        background: rgb(240, 240, 240);
    }


    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh {
        padding: 7px;
        border: none;
        color: #ffffff;
        float: right;
        background: rgb(205, 9, 9);
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh:hover {
        background: rgb(223, 17, 17);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content form .form-control {
        background: none;
        color: black;
        border: 1px solid rgb(190, 190, 190);
        outline: none !important;
        box-shadow: none !important;
    }

    /* sản phẩm cần thanh toán */

    .banner-big .wraper aside .container-fluid .product-container {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        flex: 1;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        align-items: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 50px;
        margin-top: 30px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell {
        flex-basis: 20%;
        white-space: nowrap;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell-name {
        flex-basis: 20%;
        display: flex;
        font-size: 18px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:last-of-type {
        flex-basis: 15%;
        text-align: right;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:first-of-type {
        font-size: 19px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .img-cell {
        width: 70px;
        height: 60px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* phương thức thanh toán */
    .banner-big .wraper aside .container-fluid .tab-pane-payment {
        gap: 20px;
        display: flex;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button {
        color: black;
        border-radius: 5px;
        border: 1px solid rgb(134, 134, 134);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        width: 215px;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button.active {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button:hover,
    .banner-big .wraper aside .container-fluid .tab-pane-payment button:focus-within {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment {
        text-align: right;
        line-height: 40px;
        font-size: 17px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment {
        font-size: 14px;
        float: left;
        margin: 0;
        padding: 0;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment:first-of-type {
        padding-right: 45px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment1 {
        padding-right: 89px;
        font-size: 14px;
        float: left;
        margin: 0;
        padding: 0;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment-sum {
        font-size: 18px;
        font-weight: bold;
        color: rgb(219, 0, 0);
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment {
        font-size: 14px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .tbtn-thanhtoan {
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 40px;
        text-align: center;
    }

}

@media only screen and (min-width: 576px) and (max-width: 766.5px) {

    /* CSS règles cho thiết bị máy tính bảng hoặc chiều dọc điện thoại */
    .containerr .image-two {
        position: relative;
        top: 70px;
        left: 5%;
        bottom: 8%;
        width: 90%;
        height: auto;
        display: flex;
    }

    .navb .btn-sign {
        position: absolute;
        right: 18%;
        top: 8%;
        width: 100px;
        height: 40px;
    }

    .containerr .image-two .collapse .navbar-nav {
        position: absolute;
        top: 8%;
        left: 45%;
        display: flex;
        gap: 10%;
        background-color: rgb(211, 211, 211);
        padding: 30px 30px;
        width: 200px;
        border-radius: 20px;
        opacity: 0.9;
        z-index: 1;
    }

    .navb .btn-cart {
        position: absolute;
        right: 42%;
        top: 8%;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .containerr .image-two .yum-logo {
        position: absolute;
        width: 130px;
        height: auto;
        top: 7%;
        left: 5%;
    }

    /* end navbar */

    /* banner */
    .image-two header article {
        position: absolute;
        left: 18%;
        top: 20%;
        font-size: 0;
    }

    .image-two header article p {
        font-size: 2.1rem;
    }

    .image-two header article a img {
        width: 50px;
        height: 50px;
        padding: 2px;
    }

    .image-two header article a button {
        margin-top: 40px;
        width: 200px;
        height: 50px;
    }

    .image-two header aside img {
        position: relative;
        top: 60px;
        left: -8%;
        margin-top: 250px;
        width: 120%;
        height: auto;
        padding-top: 250px;
        padding-bottom: 80px;
    }

    /* end banner */

    /* header */

    .image-two header {
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        height: auto;
    }

    .banner-big .img-blur .anh1 {
        position: absolute;
        top: 84%;
        left: 0%;
    }

    /*  */

    .banner-big .wraper aside .tttk {
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .banner-big .wraper aside {
        padding: 30px;
    }

    .banner-big .wraper aside .container-fluid {
        position: relative;
        background: var(--bgtoggle-color);
        border-radius: 10px;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card {
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card .name,
    .phone {
        font-weight: bold;
        font-size: 18px;
        width: 400px;
    }

    .banner-big .wraper aside .container-fluid .address-section .text-location {
        text-decoration: none;
        width: 400px;
    }

    .banner-big .wraper aside .container-fluid .address-section .location {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .location label {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content {
        background-color: var(--iframe-color);
        margin: 10% auto;
        padding: 30px;
        border: 1px solid #888;
        max-width: 600px;
        z-index: 9999;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close {
        padding: 7px;
        border: none;
        color: #101010;
        float: left;
        border-radius: 5px;
        background: rgb(231, 231, 231);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close:hover {
        background: rgb(240, 240, 240);
    }


    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh {
        padding: 7px;
        border: none;
        color: #ffffff;
        float: right;
        background: rgb(205, 9, 9);
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh:hover {
        background: rgb(223, 17, 17);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content form .form-control {
        background: none;
        color: black;
        border: 1px solid rgb(190, 190, 190);
        outline: none !important;
        box-shadow: none !important;
    }

    /* sản phẩm cần thanh toán */

    .banner-big .wraper aside .container-fluid .product-container {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        align-items: center;
        height: 100px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell {
        flex-basis: 35%;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell-name {
        flex-basis: 20%;
        display: flex;
        font-size: 18px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:last-of-type {
        flex-basis: 15%;
        text-align: right;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:first-of-type {
        font-size: 19px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .img-cell {
        width: 100px;
        height: 80px;
        position: relative;
        left: auto;
        top: auto;
        margin: 0;
        padding: 0;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* phương thức thanh toán */
    .banner-big .wraper aside .container-fluid .tab-pane-payment {
        gap: 20px;
        display: flex;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button {
        color: black;
        border-radius: 5px;
        border: 1px solid rgb(134, 134, 134);
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button.active {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button:hover,
    .banner-big .wraper aside .container-fluid .tab-pane-payment button:focus-within {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment {
        text-align: right;
        line-height: 40px;
        font-size: 17px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment {
        margin-right: 40px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment:first-of-type {
        padding-right: 45px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment1 {
        padding-right: 89px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment-sum {
        font-size: 25px;
        font-weight: bold;
        color: rgb(219, 0, 0);
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .tbtn-thanhtoan {
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 40px;
    }

}

/* end responsive cho thiết bị di động */



/* Định nghĩa kích thước responsive cho máy tính bảng */
@media screen and (min-width: 767px) and (max-width: 992.5px) {

    /* CSS règles cho máy tính bảng */
    /* navbar */
    .navb .btn-sign {
        position: absolute;
        right: 15%;
        top: 8%;
        width: 100px;
        height: 40px;
    }

    .containerr .image-two .collapse .navbar-nav {
        position: absolute;
        top: 8%;
        left: 58%;
        display: flex;
        gap: 10%;
        background-color: rgb(211, 211, 211);
        padding: 20px 10px;
        width: 200px;
        border-radius: 20px;
        opacity: 0.9;
        z-index: 1;
    }

    .navb .btn-cart {
        position: absolute;
        right: 30%;
        top: 8%;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .containerr .image-two .yum-logo {
        position: absolute;
        width: 130px;
        height: auto;
        top: 7%;
        left: 5%;
    }

    /* end navbar */

    /* banner */
    .image-two header article {
        position: absolute;
        left: 9%;
        top: 38%;
        font-size: 2.5em;
    }

    .image-two header article p {
        font-size: 1.8rem;
    }

    .image-two header article a img {
        width: 40px;
        height: 40px;
        padding: 2px;
        margin-right: -15px;
    }

    .image-two header article a button {
        margin-top: 40px;
        width: 170px;
        height: 45px;
    }

    .image-two header aside img {
        position: relative;
        top: 0;
        left: 60%;
        margin-top: 170px;
        width: 100%;
        height: auto;
    }

    /* end banner */

    /* header */

    .image-two header {
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        height: auto;
    }

    /*  */
    .banner-big .wraper aside .tttk {
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .banner-big .wraper aside {
        padding: 30px;
    }

    .banner-big .wraper aside .container-fluid {
        position: relative;
        background: var(--bgtoggle-color);
        border-radius: 10px;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card {
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card .name,
    .phone {
        font-weight: bold;
        font-size: 18px;
    }

    .banner-big .wraper aside .container-fluid .address-section .text-location {
        text-decoration: none;
        width: 200px;
    }

    .banner-big .wraper aside .container-fluid .address-section .location {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .location label {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content {
        background-color: var(--iframe-color);
        margin: 10% auto;
        padding: 30px;
        border: 1px solid #888;
        max-width: 600px;
        z-index: 9999;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close {
        padding: 7px;
        border: none;
        color: #101010;
        float: left;
        border-radius: 5px;
        background: rgb(231, 231, 231);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close:hover {
        background: rgb(240, 240, 240);
    }


    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh {
        padding: 7px;
        border: none;
        color: #ffffff;
        float: right;
        background: rgb(205, 9, 9);
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh:hover {
        background: rgb(223, 17, 17);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content form .form-control {
        background: none;
        color: black;
        border: 1px solid rgb(190, 190, 190);
        outline: none !important;
        box-shadow: none !important;
    }

    /* sản phẩm cần thanh toán */

    .banner-big .wraper aside .container-fluid .product-container {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell {
        flex-basis: 37%;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell-name {
        flex-basis: 20%;
        display: flex;
        font-size: 18px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:last-of-type {
        flex-basis: 15%;
        text-align: right;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:first-of-type {
        font-size: 19px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .img-cell {
        width: 100px;
        height: 80px;
        position: relative;
        left: auto;
        margin: 0;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* phương thức thanh toán */
    .banner-big .wraper aside .container-fluid .tab-pane-payment {
        gap: 20px;
        display: flex;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button {
        border: 1px solid rgb(134, 134, 134);
        color: black;
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button.active {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button:hover,
    .banner-big .wraper aside .container-fluid .tab-pane-payment button:focus-within {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment {
        text-align: right;
        line-height: 40px;
        font-size: 17px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment {
        margin-right: 40px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment:first-of-type {
        padding-right: 45px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment1 {
        padding-right: 89px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment-sum {
        font-size: 25px;
        font-weight: bold;
        color: rgb(219, 0, 0);
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .tbtn-thanhtoan {
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 40px;
    }


}

/* end responsive cho máy tính bảng */



/* Định nghĩa kích thước responsive cho màn hình máy tính và laptop */
@media screen and (min-width: 993px) and (max-width: 1199.5px) {
    /* CSS règles cho màn hình máy tính và laptop */

    /* navbar */
    .navb .btn-sign {
        position: absolute;
        right: 4%;
        top: 9%;
        width: 100px;
        height: 40px;
    }

    .containerr .image-two .collapse .navbar-nav {
        position: absolute;
        top: 9%;
        left: 30%;
        gap: 7%;
    }

    .navb .btn-cart {
        position: absolute;
        right: 17%;
        top: 9%;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    /* end navbar */

    /* banner */
    .image-two header article p {
        font-size: 2.2rem;
    }

    .image-two header article a img {
        width: 45px;
        height: 45px;
    }

    .image-two header article a button {
        margin-top: 50px;
        width: 200px;
        height: 45px;
    }

    .image-two header aside img {
        position: relative;
        top: 0;
        left: 75%;
        margin-top: 180px;
        width: 110%;
        height: auto;
    }

    /* end banner */

    /* header */

    .image-two header {
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        height: auto;
    }

    /*  */

    .banner-big .wraper aside .tttk {
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .banner-big .wraper aside {
        padding: 30px;
    }

    .banner-big .wraper aside .container-fluid {
        position: relative;
        background: var(--bgtoggle-color);
        border-radius: 10px;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card {
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card .name,
    .phone {
        font-weight: bold;
        font-size: 18px;
    }

    .banner-big .wraper aside .container-fluid .address-section .text-location {
        text-decoration: none;
        width: 200px;
    }

    .banner-big .wraper aside .container-fluid .address-section .location {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .location label {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content {
        background-color: var(--iframe-color);
        margin: 10% auto;
        padding: 30px;
        border: 1px solid #888;
        max-width: 600px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close {
        padding: 7px;
        border: none;
        color: #101010;
        float: left;
        border-radius: 5px;
        background: rgb(231, 231, 231);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close:hover {
        background: rgb(240, 240, 240);
    }


    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh {
        padding: 7px;
        border: none;
        color: #ffffff;
        float: right;
        background: rgb(205, 9, 9);
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh:hover {
        background: rgb(223, 17, 17);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content form .form-control {
        background: none;
        color: black;
        border: 1px solid rgb(190, 190, 190);
        outline: none !important;
        box-shadow: none !important;
    }

    /* sản phẩm cần thanh toán */

    .banner-big .wraper aside .container-fluid .product-container {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell {
        flex-basis: 30%;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell-name {
        flex-basis: 20%;
        display: flex;
        font-size: 18px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:last-of-type {
        flex-basis: 15%;
        text-align: right;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:first-of-type {
        font-size: 19px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .img-cell {
        width: 100px;
        height: 80px;
        position: relative;
        left: auto;
        margin: 0;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* phương thức thanh toán */
    .banner-big .wraper aside .container-fluid .tab-pane-payment {
        gap: 20px;
        display: flex;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button {
        border: 1px solid rgb(134, 134, 134);
        color: black;
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button.active {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button:hover,
    .banner-big .wraper aside .container-fluid .tab-pane-payment button:focus-within {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment {
        text-align: right;
        line-height: 40px;
        font-size: 17px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment {
        margin-right: 40px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment:first-of-type {
        padding-right: 45px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment1 {
        padding-right: 89px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment-sum {
        font-size: 25px;
        font-weight: bold;
        color: rgb(219, 0, 0);
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .tbtn-thanhtoan {
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 40px;
    }

}

/* end responsive cho màn hình máy tính và laptop */



@media screen and (min-width: 1200px) and (max-width: 1286px) {
    .navb .btn-sign {
        position: absolute;
        right: 10%;
        top: 9%;
        width: 100px;
        height: 40px;
    }

    .containerr .image-two .collapse .navbar-nav {
        position: absolute;
        top: 9%;
        left: 30%;
        gap: 10%;
    }

    .navb .btn-cart {
        position: absolute;
        right: 21%;
        top: 9%;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .image-two header article p {
        font-size: 2.5rem;
    }

    .image-two header article a img {
        width: 50px;
        height: 50px;
    }

    .image-two header article a button {
        margin-top: 50px;
        width: 220px;
        height: 50px;
    }

    .image-two header aside img {
        position: relative;
        top: 0;
        left: 72%;
        margin-top: 180px;
        width: 130%;
        height: auto;
    }

    .containerr .food2 {
        position: absolute;
        width: 13%;
        top: -5%;
        left: -2%;
    }

    .containerr .myimage {
        position: absolute;
        left: 75%;
        top: 14%;
        width: 25%;
    }

    .containerr .myimagefood5 {
        position: absolute;
        top: 2700px;
        left: -20px;
        width: 23%;
    }

    .containerr .image-two .yum-logo {
        position: absolute;
        width: 150px;
        height: auto;
        top: 7%;
        left: 5%;
    }

    .navbar-toggler {
        position: absolute;
        top: 9%;
        right: 5%;
        order: 1;
        width: 40px;
        height: 40px;
    }

    .containerr .image-two .collapse .navbar-nav {
        position: absolute;
        top: 9%;
        left: 30%;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 10%;
        cursor: pointer;
        z-index: 0;
    }

    /*  */

    .banner-big .wraper aside .tttk {
        font-size: 22px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .banner-big .wraper aside {
        padding: 30px;
    }

    .banner-big .wraper aside .container-fluid {
        position: relative;
        background: var(--bgtoggle-color);
        border-radius: 10px;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card {
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .address-card .name,
    .phone {
        font-weight: bold;
        font-size: 18px;
    }

    .banner-big .wraper aside .container-fluid .address-section .text-location {
        text-decoration: none;
    }

    .banner-big .wraper aside .container-fluid .address-section .location {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
        display: flex;
    }

    .banner-big .wraper aside .container-fluid .address-section .location label {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content {
        background-color: var(--iframe-color);
        margin: 10% auto;
        padding: 30px;
        border: 1px solid #888;
        max-width: 600px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close {
        padding: 7px;
        border: none;
        color: #101010;
        float: left;
        border-radius: 5px;
        background: rgb(231, 231, 231);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .close:hover {
        background: rgb(240, 240, 240);
    }


    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh {
        padding: 7px;
        border: none;
        color: #ffffff;
        float: right;
        background: rgb(205, 9, 9);
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content .hoanthanh:hover {
        background: rgb(223, 17, 17);
    }

    .banner-big .wraper aside .container-fluid .address-section .modal-content form .form-control {
        background: none;
        color: black;
        border: 1px solid rgb(190, 190, 190);
        outline: none !important;
        box-shadow: none !important;
    }

    /* sản phẩm cần thanh toán */

    .banner-big .wraper aside .container-fluid .product-container {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 10px;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell {
        flex-basis: 30%;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell-name {
        flex-basis: 20%;
        display: flex;
        font-size: 18px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        content: '...';
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:last-of-type {
        flex-basis: 15%;
        text-align: right;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .product-cell:first-of-type {
        font-size: 19px;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row .img-cell {
        width: 100px;
        height: 80px;
        position: relative;
        left: auto;
        margin: 0;
    }

    .banner-big .wraper aside .container-fluid .product-container .product-row:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* phương thức thanh toán */
    .banner-big .wraper aside .container-fluid .tab-pane-payment {
        gap: 20px;
        display: flex;
        align-items: center;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button {
        border: 1px solid rgb(134, 134, 134);
        color: black;
        border-radius: 5px;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button.active {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .tab-pane-payment button:hover,
    .banner-big .wraper aside .container-fluid .tab-pane-payment button:focus-within {
        background: rgb(228, 52, 52);
        color: white;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment {
        text-align: right;
        line-height: 40px;
        font-size: 17px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment {
        margin-right: 40px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment:first-of-type {
        padding-right: 45px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .text-payment1 {
        padding-right: 89px;
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .price-payment-sum {
        font-size: 25px;
        font-weight: bold;
        color: rgb(219, 0, 0);
    }

    .banner-big .wraper aside .container-fluid .container-fluid-payment .tbtn-thanhtoan {
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 40px;
    }

}